# Autor: Daniel Oviedo

# Importar librerías

In [ ]:
import pandas as pd
import numpy as np
import re

# Leer dataframe

In [ ]:
raw = 'https://raw.githubusercontent.com/jpospinalo/MachineLearning/refs/heads/main/EDA/IT%20Salary%20Survey%20EU%202020.csv'

df = pd.read_csv(raw)
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [ ]:
column_names = df.columns
print(column_names)

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Сontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

# Ver cantidad de datos null

In [ ]:
df.isnull().sum()

Timestamp                                                                                                                    0
Age                                                                                                                         27
Gender                                                                                                                      10
City                                                                                                                         0
Position                                                                                                                     6
Total years of experience                                                                                                   16
Years of experience in Germany                                                                                              32
Seniority level                                                                                                             12
Your main technology / programming language                                                                                127
Other technologies/programming languages you use often                                                                     157
Yearly brutto salary (without bonus and stocks) in EUR                                                                       0
Yearly bonus + stocks in EUR                                                                                               424
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                   368
Annual bonus+stocks one year ago. Only answer if staying in same country                                                   639
Number of vacation days                                                                                                     68
Employment status                                                                                                           17
Сontract duration                                                                                                           29
Main language at work                                                                                                       16
Company size                                                                                                                18
Company type                                                                                                                25
Have you lost your job due to the coronavirus outbreak?                                                                     20
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          880
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR    791
dtype: int64

# "Timestamp"

In [ ]:
# Cambiar la columna "Timestamp" a formato fecha (object --> datetime64)
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

<ipython-input-5-eeb53f8d2289>:2: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [ ]:
# Convertir la columna "Timestamp" a tipo index
# Si se exporta el dataframe, no convertir a index
#df.set_index('Timestamp', inplace=True)

# "Gender"

In [ ]:
# Verificar como estan escritos los datos
print(df['Gender'].unique())

['Male' 'Female' nan 'Diverse']

In [ ]:
# Cambiar columna "Gender" a númerico (Female: 0, Male: 1, Diverse: 2)
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0, 'Diverse': 2}).astype(float)
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,2020-11-24 11:14:15,26.0,1.0,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,2020-11-24 11:14:16,26.0,1.0,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,2020-11-24 11:15:24,28.0,1.0,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

# "City"

In [ ]:
df['City'].unique()

array(['Munich', 'Berlin', 'Hamburg', 'Wolfsburg', 'Stuttgart',
       'Schleswig-Holstein', 'London', 'Konstanz area', 'Frankfurt',
       'Cologne', 'Kempten', 'Münster', 'Erlangen', 'Vienna', 'Moldova',
       'Rosenheim', 'Mannheim ', 'Boeblingen', 'Düsseldorf', 'Ingolstadt',
       'Nürnberg', 'Ansbach', 'Leipzig', 'Mannheim', 'Tuttlingen', 'Bonn',
       'Moscow', 'Koblenz', 'Warsaw', 'Heidelberg', 'Karlsruhe', 'Köln',
       'Aachen', 'Karlsruhe ', 'Samara', 'Riga, Latvia', 'Dusseldorf',
       'Zurich', 'Helsinki', 'Würzburg', 'Kiev', 'Den Haag', 'Amsterdam',
       'Cracovia', 'Tallinn', 'Prague', 'Utrecht', 'Stockholm',
       'Braunschweig ', 'Dresden', 'Kyiv', 'Stuttgart ', 'Malta',
       'Lübeck', 'Nuremberg ', 'Bodensee', 'Milan', 'Salzburg', 'Rome',
       'Wroclaw', 'Cupertino', 'Paris', 'Dublin ', 'Paderborn',
       'Konstanz', 'Ulm', 'Düsseldorf ', 'Barcelona', 'Bölingen',
       'Tampere (Finland)', 'Hannover', 'Bucharest', 'Siegen', 'Minsk',
       'Nuremberg', 'Marseille', 'Friedrichshafen', 'Walldorf',
       'Eindhoven', 'France', 'Regensburg', 'Warsaw, Poland', 'Heilbronn',
       'Dortmund', 'Jena', 'City in Russia', 'Cracow', 'Brunswick',
       'Dublin', 'Madrid', 'Lisbon', 'Sofia', 'Luttich', 'Milano',
       'Bielefeld', 'Basel', 'NJ, USA', 'Istanbul', 'warsaw',
       'Hildesheim', 'Heidelberg ', 'Murnau am Staffelsee ', 'Zürich',
       'Innsbruck', 'Brussels ', 'Hildesheim ', 'Prefer not to say',
       'Dusseldurf', 'Fr', 'Darmstadt', 'Duesseldorf', 'Cambridge',
       'Brussels', 'Copenhagen', 'Sevilla', 'Krakow', 'Ingolstadt ',
       'Saint-Petersburg', 'Saarbrücken'], dtype=object)

In [ ]:
city_replacements = {
    'DUSSELDURF': 'DUSSELDORF',
    'DUESSELDORF': 'DUSSELDORF',
    'NUREMBERG': 'NURNBERG',
    'MUNICH': 'MUNCHEN',
    'KOLN': 'KOLN',
    'WARSAW': 'WARSZAWA',
    'CRACOW': 'KRAKOW',
    'CRACOVIA': 'KRAKOW',
    'ZURICH': 'ZURICH',
    'LÜBECK': 'LUEBECK',
    'LUTTICH': 'LIEGE',
    'HEIDELBERG': 'HEIDELBERG',
    'MANNHEIM': 'MANNHEIM',
    'STUTTGART': 'STUTTGART',
    'RIGA, LATVIA': 'RIGA',
    # Añadir más correcciones según sea necesario
}

In [ ]:
def clean_city(value):
    """
    Funcion para limpiar los datos en la columna "City"
    """
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como esta


    # Eliminar lo que está entre parentesis
    value = re.sub(r'\s*\(.*?\)', '', value)

    # Reemplazar 'NJ, USA' por 'New Jersey'
    if value == 'NJ, USA':
        value = 'New Jersey'

    value = value.lower()
    # Eliminar diéresis (ü, ö) y otros caracteres especiales
    value = value.replace('ü', 'u').replace('ö', 'o').replace('è', 'e')

    if value == 'Prefer not to say':
        return np.nan

    return value

def clean_and_standardize_city(value):
    """
    Función para limpiar los datos en la columna "City" y estandarizar las ciudades.
    """
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como está

    # Limpiar con la función clean_city
    value = clean_city(value)

    # Eliminar espacios al inicio y al final
    value = value.strip()

    # Convertir a mayúsculas (después de eliminar caracteres especiales)
    value = value.upper()

    # Reemplazar según el diccionario 'city_replacements'
    return city_replacements.get(value, value)  # Si está en el diccionario, reemplaza; si no, deja igual

In [ ]:
# Limpiar datos en la columna "City"
df['City'] = df['City'].apply(clean_and_standardize_city)
df['City'].unique()

array(['MUNCHEN', 'BERLIN', 'HAMBURG', 'WOLFSBURG', 'STUTTGART',
       'SCHLESWIG-HOLSTEIN', 'LONDON', 'KONSTANZ AREA', 'FRANKFURT',
       'COLOGNE', 'KEMPTEN', 'MUNSTER', 'ERLANGEN', 'VIENNA', 'MOLDOVA',
       'ROSENHEIM', 'MANNHEIM', 'BOEBLINGEN', 'DUSSELDORF', 'INGOLSTADT',
       'NURNBERG', 'ANSBACH', 'LEIPZIG', 'TUTTLINGEN', 'BONN', 'MOSCOW',
       'KOBLENZ', 'WARSZAWA', 'HEIDELBERG', 'KARLSRUHE', 'KOLN', 'AACHEN',
       'SAMARA', 'RIGA', 'ZURICH', 'HELSINKI', 'WURZBURG', 'KIEV',
       'DEN HAAG', 'AMSTERDAM', 'KRAKOW', 'TALLINN', 'PRAGUE', 'UTRECHT',
       'STOCKHOLM', 'BRAUNSCHWEIG', 'DRESDEN', 'KYIV', 'MALTA', 'LUBECK',
       'BODENSEE', 'MILAN', 'SALZBURG', 'ROME', 'WROCLAW', 'CUPERTINO',
       'PARIS', 'DUBLIN', 'PADERBORN', 'KONSTANZ', 'ULM', 'BARCELONA',
       'BOLINGEN', 'TAMPERE', 'HANNOVER', 'BUCHAREST', 'SIEGEN', 'MINSK',
       'MARSEILLE', 'FRIEDRICHSHAFEN', 'WALLDORF', 'EINDHOVEN', 'FRANCE',
       'REGENSBURG', 'WARSAW, POLAND', 'HEILBRONN', 'DORTMUND', 'JENA',
       'CITY IN RUSSIA', 'BRUNSWICK', 'MADRID', 'LISBON', 'SOFIA',
       'LIEGE', 'MILANO', 'BIELEFELD', 'BASEL', 'NEW JERSEY', 'ISTANBUL',
       'HILDESHEIM', 'MURNAU AM STAFFELSEE', 'INNSBRUCK', 'BRUSSELS',
       'PREFER NOT TO SAY', 'FR', 'DARMSTADT', 'CAMBRIDGE', 'COPENHAGEN',
       'SEVILLA', 'SAINT-PETERSBURG', 'SAARBRUCKEN'], dtype=object)

# "Position "

In [ ]:
# Cambiar nombre de la columna "Position " a "Position"
df.rename(columns={'Position ':'Position'}, inplace=True)

In [ ]:
df['Position'].unique()

array(['Software Engineer', 'Backend Developer', 'Frontend Developer',
       'DevOps', 'Data Engineer', 'Designer (UI/UX)', 'Product Manager',
       'Mobile Developer', 'Software Architect', 'Team Lead',
       'Test manager', 'QA Engineer', 'Data Scientist',
       'Hardware Engineer', 'Engineering Manager', 'Analytics engineer',
       'Localization producer', 'Reporting Engineer', 'Account Managet',
       'agile master ', 'ML Engineer', 'Solution Architect',
       'BI Consultant', 'Fullstack Developer', nan, 'Cloud Architect',
       'System Administrator', 'Project Manager', 'Network Engineer ',
       'VP Engineering', 'Agile Coach', 'Data Science Manager',
       'Scrum Master', 'Firmware Engineer', 'Solutions Architect',
       'Data Center Manager', 'C/C++/Java developer', 'DevOps Manager',
       'Tech Lead', 'Network Administrator', 'Security Manager',
       'Consultant Data Analytics', 'BI IT Consultant',
       'Graphic Designer', 'iOS Developer', 'Banker', 'Cloud Engineer',
       'Solutions architect', 'Stuttgart', 'Senior Program Manager',
       'DB developer/Data analyst', 'Security Engineer',
       'Business Analyst', 'DBA', 'Support Engineer', 'Consultant',
       'Recruiter', 'Testautomation', 'SAP Developer',
       'Systemadministrator', 'SW Architect', 'SRE',
       'Fullstack engineer, ну или Software engineer', 'HiWi',
       'Project manager', 'Architect', 'Technical Lead',
       'Tech Lead / Full-Stack', 'Marketing Analyst', 'CTO',
       'Senior Network&Security Eng.', 'Software tester ',
       'SAP BW Senior Consultant ', 'QA Manager ',
       'Director of Engineering', 'IT Spezialist', 'Manager',
       'Consultant ', 'Data Analyst', 'Software Developer in Test',
       'Technical account manager ', 'Tech Leader',
       'Chief Research Officer', 'Presales Engineer ',
       'Freelance AI lead / advisor',
       'Business Development Manager Operations ', 'Program Manager',
       'Researcher', 'Engineering manager', 'Embedded Software Engineer',
       'Dana Analyst', 'Team Manager', 'Data Analyst ',
       'working student (QA)', 'Architect ', 'Head of Engineering',
       'SAP Consultant', 'BI Consultant SAP/ Data Engineer',
       'computer vision researcher', 'Teamlead', 'Senior Data Engineer',
       'Analyst', 'IT Manager', 'Head of IT ', 'Lead Software Developer',
       'data engineer', 'Tech recruiting', 'BI Analyst ',
       'BI Developer / Data Engineer', 'Senior Scrum Master (RTE)',
       'Head of BI', 'Technical project manager', 'Project manager ',
       'support engineer', 'Security engineer', 'Big Data Engineer',
       'Manager ', 'Professor', 'AI Management', 'Sales ', 'XR Developer',
       'Student, Software Developer, Data Engineer',
       'Engineering Team Lead', 'DataOps Team Lead', 'Software Sales',
       'Beikoch', 'Product Management Praktikant', 'Data analyst ',
       'Product Analyst', 'Team lead', 'It Consulting ', 'Data architect',
       'Staff Engineer', 'Head of IT', 'Computational linguist',
       'Rentner', 'technical business analyst', 'Full-Stack Developer',
       'QA Manager', 'QA Lead', 'Robotics Engineer', 'DatabEngineer',
       'Application Consultant', 'Lead Developer', 'Software Architekt',
       'Testmanager', 'ERP Consultant',
       'Researcher/ Consumer Insights Analyst ', 'IT Operations Manager'],
      dtype=object)

In [ ]:
# Convertir a mayusculas datos en la columna "Position"
df['Position'] = df['Position'].str.upper()
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,2020-11-24 11:14:15,26.0,1.0,MUNCHEN,SOFTWARE ENGINEER,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,2020-11-24 11:14:16,26.0,1.0,BERLIN,BACKEND DEVELOPER,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,BERLIN,SOFTWARE ENGINEER,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,2020-11-24 11:15:24,28.0,1.0,BERLIN,FRONTEND DEVELOPER,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,BERLIN,BACKEND DEVELOPER,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,2021-01-18 15:05:50,31.0,1.0,BERLIN,BACKEND DEVELOPER,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,2021-01-18 17:46:02,33.0,1.0,BERLIN,RESEARCHER/ CONSUMER INSIGHTS ANALYST,10,1.5,Senior,consumer analysis,NaN,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,2021-01-18 23:20:35,39.0,1.0,MUNCHEN,IT OPERATIONS MANAGER,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,2021-01-19 10:17:58,26.0,1.0,SAARBRUCKEN,FRONTEND DEVELOPER,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,2021-01-19 12:01:11,26.0,1.0,BERLIN,DEVOPS,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [ ]:
position_replacements = {
    # Developers
    'SOFTWARE ENGINEER': 'DEVELOPER',
    'BACKEND DEVELOPER': 'DEVELOPER',
    'FRONTEND DEVELOPER': 'DEVELOPER',
    'MOBILE DEVELOPER': 'DEVELOPER',
    'FULLSTACK DEVELOPER': 'DEVELOPER',
    'SOFTWARE DEVELOPER': 'DEVELOPER',
    'C/C++/JAVA DEVELOPER': 'DEVELOPER',
    'IOS DEVELOPER': 'DEVELOPER',
    'XR DEVELOPER': 'DEVELOPER',
    'LEAD SOFTWARE DEVELOPER': 'DEVELOPER',
    'TECH LEAD / FULL-STACK': 'DEVELOPER',
    'SOFTWARE ARCHITEKT': 'DEVELOPER',

    # Engineers
    'DATA ENGINEER': 'ENGINEER',
    'HARDWARE ENGINEER': 'ENGINEER',
    'ML ENGINEER': 'ENGINEER',
    'CLOUD ENGINEER': 'ENGINEER',
    'SECURITY ENGINEER': 'ENGINEER',
    'SOFTWARE TESTER': 'ENGINEER',
    'NETWORK ENGINEER': 'ENGINEER',
    'SUPPORT ENGINEER': 'ENGINEER',
    'DEVOPS ENGINEER': 'ENGINEER',
    'SYSTEM ADMINISTRATOR': 'ENGINEER',
    'SOLUTION ARCHITECT': 'ENGINEER',
    'ROBOTICS ENGINEER': 'ENGINEER',

    # Managers
    'ENGINEERING MANAGER': 'MANAGER',
    'PROJECT MANAGER': 'MANAGER',
    'PRODUCT MANAGER': 'MANAGER',
    'TEST MANAGER': 'MANAGER',
    'QA MANAGER': 'MANAGER',
    'DEVOPS MANAGER': 'MANAGER',
    'TECHNICAL ACCOUNT MANAGER': 'MANAGER',
    'DIRECTOR OF ENGINEERING': 'MANAGER',
    'TEAM LEAD': 'MANAGER',
    'HEAD OF ENGINEERING': 'MANAGER',
    'VP ENGINEERING': 'MANAGER',
    'HEAD OF IT': 'MANAGER',
    'ENGINEERING TEAM LEAD': 'MANAGER',
    'SCRUM MASTER': 'MANAGER',

    # QA (Quality Assurance)
    'QA ENGINEER': 'QA',
    'SOFTWARE TESTER': 'QA',
    'TESTAUTOMATION': 'QA',
    'QA LEAD': 'QA',

    # Data & Analytics
    'DATA SCIENTIST': 'DATA/ANALYTICS',
    'DATA ANALYST': 'DATA/ANALYTICS',
    'BI CONSULTANT': 'DATA/ANALYTICS',
    'ANALYTICS ENGINEER': 'DATA/ANALYTICS',
    'BUSINESS ANALYST': 'DATA/ANALYTICS',
    'BIG DATA ENGINEER': 'DATA/ANALYTICS',

    # Product
    'PRODUCT ANALYST': 'PRODUCT',
    'PRODUCT MANAGER': 'PRODUCT',
    'PRODUCT MANAGEMENT PRAKTIKANT': 'PRODUCT',

    # DevOps & SysAdmin
    'DEVOPS': 'DEVOPS',
    'SYSTEM ADMINISTRATOR': 'DEVOPS',
    'CLOUD ARCHITECT': 'DEVOPS',

    # Consultants
    'BI CONSULTANT': 'CONSULTANT',
    'SAP CONSULTANT': 'CONSULTANT',
    'CONSULTANT': 'CONSULTANT',
    'ERP CONSULTANT': 'CONSULTANT',
    'IT CONSULTANT': 'CONSULTANT',

    # Others
    'RESEARCHER': 'OTHERS',
    'FREELANCE AI LEAD / ADVISOR': 'OTHERS',
    'PROFESSOR': 'OTHERS',
    'CHIEF RESEARCH OFFICER': 'OTHERS',
    'PRESALES ENGINEER': 'OTHERS',
    'STAFF ENGINEER': 'OTHERS',
}

In [ ]:
def clean_and_standardize_position(value):
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como está

    value = value.strip().upper()  # Eliminamos espacios y convertimos a mayúsculas

    # Reemplazamos según el diccionario
    return position_replacements.get(value, 'OTHERS')  # Si está en el diccionario, reemplaza; si no, clasifica como 'OTHERS'

In [ ]:
df['Position'] = df['Position'].apply(clean_and_standardize_position)

In [ ]:
df['Position'].unique()

array(['DEVELOPER', 'DEVOPS', 'ENGINEER', 'OTHERS', 'PRODUCT', 'MANAGER',
       'QA', 'DATA/ANALYTICS', 'CONSULTANT', nan], dtype=object)

# "Total years of experience"

In [ ]:
# Funcion posible para utilizar
def custom_round(value):
    """
    Funcion para redondear una columna a su decimal mas cercano
    """
    if pd.isna(value):
        return np.nan  # Dejamos NaN como está
    if isinstance(value, float):
        decimal_part = value - int(value)  # Extraemos la parte decimal
        if decimal_part <= 0.5:
            return np.floor(value)  # Redondea hacia abajo
        else:
            return np.ceil(value)   # Redondea hacia arriba
    else:
        return value

In [ ]:
# Verificar como estan escritos los datos
df['Total years of experience'].unique()

array(['5', '7', '12', '4', '17', '6', '8', '15', '2', '25', nan, '14',
       '11', '18', '13', '30', '10', '3', '40', '26', '23', '9', '19',
       '20', '5.5', '22', '16', '0.8', '1', '1.5', '6.5', '21', '7.5',
       '2.5', '28', '29', '1,5', '24', '0', '4.5', '27',
       '1 (as QA Engineer) / 11 in total', '2,5', '15, thereof 8 as CTO',
       '31', '6 (not as a data scientist, but as a lab scientist)', '383',
       '3.5', 'less than year'], dtype=object)

In [ ]:
df['Total years of experience'].describe()

count     1237
unique      48
top         10
freq       138
Name: Total years of experience, dtype: object

In [ ]:
def clean_experience(value):
    """
    Funcion para convertir la columna "Total years of experience" a numerica
    """
    if pd.isna(value):
        return np.nan
    if value == 'less than year':
        return 0
    if value == '1 (as QA Engineer) / 11 in total':
        return 11
    if value == '15, thereof 8 as CTO':
        return 15
    if value == '6 (not as a data scientist, but as a lab scientist)':
        return 6
    if isinstance(value, str):
        value = value.replace(',', '.')
    try:
        return float(value)  # Intentar convertir a número
    except ValueError:
        return np.nan  # Si no es posible, devolver NaN

In [ ]:
# Limpiar datos y convertir columna "Total years of experience" a numerica
df['Total years of experience'] = df['Total years of experience'].apply(clean_experience)
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,2020-11-24 11:14:15,26.0,1.0,MUNCHEN,DEVELOPER,5.0,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,2020-11-24 11:14:16,26.0,1.0,BERLIN,DEVELOPER,7.0,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,BERLIN,DEVELOPER,12.0,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,2020-11-24 11:15:24,28.0,1.0,BERLIN,DEVELOPER,4.0,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,BERLIN,DEVELOPER,17.0,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,2021-01-18 15:05:50,31.0,1.0,BERLIN,DEVELOPER,9.0,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,2021-01-18 17:46:02,33.0,1.0,BERLIN,OTHERS,10.0,1.5,Senior,consumer analysis,NaN,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,2021-01-18 23:20:35,39.0,1.0,MUNCHEN,OTHERS,15.0,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,2021-01-19 10:17:58,26.0,1.0,SAARBRUCKEN,DEVELOPER,7.0,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,2021-01-19 12:01:11,26.0,1.0,BERLIN,DEVOPS,2.0,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [ ]:
# Redondeamos la columna "Total years of experience" a su decimal mas cercano
#df['Total years of experience'] = df['Total years of experience'].apply(custom_round)

# "Years of experience in Germany"

In [ ]:
# Verificar como estan escritos los datos
df['Years of experience in Germany'].unique()

array(['3', '4', '6', '1', '0.4', '2', '11', nan, '5', '9', '30', '7',
       '15', '10', '18', '0', '8', '2.5', '1,5', '1.5', '0.5', '13', '14',
       '4,5', '3.5', '0.8', '1,7', '12', '3,5', '20', '0.9', '25', '< 1',
       '0.25', '4 (in Switzerland), 0 (in Germany)', '16', '17',
       '4 month', '19', '2,5', '0,5', '26', '3 months', '4.5', '0.1',
       '2.6', '3 (in Poland)', '<1', '⁰', '0,3', '-',
       '6 (not as a data scientist, but as a lab scientist)', '0.2',
       'less than year'], dtype=object)

In [ ]:
def clean_experience_germany(value):
    """
    Funcion para convertir la columna "Years of experience in Germany" a numerica
    """
    if pd.isna(value):
        return np.nan
    if value in ['< 1', '<1', 'less than year', '4 (in Switzerland), 0 (in Germany)', '3 (in Poland)', '⁰']:
        return 0
    if  value == '3 months':
        return 0.3  # Aproximado a un tercio de año
    if value == '4 month':
        return 0.4  # Aproximado a un cuarto de año
    if value == '6 (not as a data scientist, but as a lab scientist)':
        return 6
    if value == '-':
        return np.nan  # Convertimos '-' a NaN
    if isinstance(value, str):
        value = value.replace(',', '.')  # Cambiamos coma por punto
    try:
        return float(value)  # Intentamos convertir a número
    except ValueError:
        return np.nan  # Si no es posible, devolvemos NaN

In [ ]:
# Limpiar y convertir datos de la columna "Years of experience in Germany" a numerica
df['Years of experience in Germany'] = df['Years of experience in Germany'].apply(clean_experience_germany)
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,2020-11-24 11:14:15,26.0,1.0,MUNCHEN,DEVELOPER,5.0,3.0,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,2020-11-24 11:14:16,26.0,1.0,BERLIN,DEVELOPER,7.0,4.0,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,BERLIN,DEVELOPER,12.0,6.0,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,2020-11-24 11:15:24,28.0,1.0,BERLIN,DEVELOPER,4.0,1.0,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,BERLIN,DEVELOPER,17.0,6.0,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,2021-01-18 15:05:50,31.0,1.0,BERLIN,DEVELOPER,9.0,5.0,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,2021-01-18 17:46:02,33.0,1.0,BERLIN,OTHERS,10.0,1.5,Senior,consumer analysis,NaN,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,2021-01-18 23:20:35,39.0,1.0,MUNCHEN,OTHERS,15.0,2.0,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,2021-01-19 10:17:58,26.0,1.0,SAARBRUCKEN,DEVELOPER,7.0,7.0,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,2021-01-19 12:01:11,26.0,1.0,BERLIN,DEVOPS,2.0,2.0,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [ ]:
# Redondeamos la columna "Years of experience in Germany" a su decimal mas cercano
#df['Years of experience in Germany'] = df['Years of experience in Germany'].apply(custom_round)

# "Seniority level"

In [ ]:
# Verificar como estan escritos los datos
df['Seniority level'].unique()

array(['Senior', 'Lead', 'Junior', 'Middle', 'Head', nan, 'No level',
       'VP', 'Manager', 'Work Center Manager', 'CTO', 'No level ',
       'Director', 'Key', 'C-level executive manager', 'Principal',
       'intern', 'Student', 'no idea, there are no ranges in the firm ',
       'C-Level', 'Working Student', 'Entry level', 'Intern', 'student',
       'Self employed'], dtype=object)

In [ ]:
def clean_seniority_level(value):
    """
    Funcion para limpiar datos en la columna Seniority level
    """
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como está
    value = value.strip()  # Eliminar espacios en blanco alrededor
    if value == 'no idea, there are no ranges in the firm':
        return 'No level'
    return value

In [ ]:
# Limpiar datos de la columna "Seniority level"
df['Seniority level'] = df['Seniority level'].apply(clean_seniority_level)

In [ ]:
# Convertir a mayuscula datos en la columna "Seniority level"
df['Seniority level'] = df['Seniority level'].str.upper()
df['Seniority level'].unique()

array(['SENIOR', 'LEAD', 'JUNIOR', 'MIDDLE', 'HEAD', nan, 'NO LEVEL',
       'VP', 'MANAGER', 'WORK CENTER MANAGER', 'CTO', 'DIRECTOR', 'KEY',
       'C-LEVEL EXECUTIVE MANAGER', 'PRINCIPAL', 'INTERN', 'STUDENT',
       'C-LEVEL', 'WORKING STUDENT', 'ENTRY LEVEL', 'SELF EMPLOYED'],
      dtype=object)

In [ ]:
seniority_replacements = {
    'JUNIOR': 'JUNIOR',
    'INTERN': 'JUNIOR',
    'STUDENT': 'JUNIOR',
    'ENTRY LEVEL': 'JUNIOR',
    'WORKING STUDENT': 'JUNIOR',

    'MIDDLE': 'MID-LEVEL',
    'KEY': 'MID-LEVEL',

    'SENIOR': 'SENIOR',
    'LEAD': 'SENIOR',
    'PRINCIPAL': 'SENIOR',

    'MANAGER': 'MANAGER',
    'DIRECTOR': 'MANAGER',
    'VP': 'MANAGER',
    'HEAD': 'MANAGER',
    'WORK CENTER MANAGER': 'MANAGER',

    'CTO': 'C-LEVEL',
    'C-LEVEL EXECUTIVE MANAGER': 'C-LEVEL',
    'C-LEVEL': 'C-LEVEL',

    'SELF EMPLOYED': 'SELF EMPLOYED',

    'NO LEVEL': 'NO LEVEL'
}

In [ ]:
def clean_and_standardize_seniority(value):
    if pd.isna(value):
        return 'NO LEVEL'  # Si es NaN, lo dejamos como 'NO LEVEL'

    value = value.strip().upper()  # Eliminamos espacios y convertimos a mayúsculas

    # Reemplazamos según el diccionario
    return seniority_replacements.get(value, 'NO LEVEL')

In [ ]:
df['Seniority level'] = df['Seniority level'].apply(clean_and_standardize_seniority)
df['Seniority level'].unique()

array(['SENIOR', 'JUNIOR', 'MID-LEVEL', 'MANAGER', 'NO LEVEL', 'C-LEVEL',
       'SELF EMPLOYED'], dtype=object)

# "Your main technology / programming language"

In [ ]:
df['Your main technology / programming language'].unique()

array(['TypeScript', 'Ruby', 'Javascript / Typescript', 'Javascript',
       'C# .NET', 'AWS, GCP, Python,K8s', 'Typescript', 'PHP', 'Java',
       'Aws Hadoop Postgre Typescript', 'C++', nan, 'Kotlin', 'kotlin',
       'NodeJS', 'iOS', 'Kubernetes', 'Charles', 'SQL', 'Go', 'java',
       'Python', 'Figma', 'JavaScript', 'Go/Python', 'React', 'С#', 'Php',
       'ruby on rails', 'JavaScript/ES6', '.NET', 'Hardware', 'C#',
       'Google Cloud Platform', 'Js', 'android', 'JavaScript ', 'Scala',
       'python', 'C#, .net core', 'VHDL', 'Power BI', 'PHP ', 'none',
       'Android', 'Swift', 'ML', 'php', 'Scala, React.js', 'Ml/Python',
       'JavaScript/TypeScript', 'Ruby on Rails', 'Azure, SAP', 'Frontend',
       'Java, JavaScript', 'yaml', 'Python ', 'JS', 'Java ', '-', 'Agile',
       'C', 'TypeScript, JavaScript', 'Pegasystems platform ',
       'C++, Java, Embedded C', 'Cloud', 'DC Management', '--', 'SWIFT',
       'Java, angular, Aws', 'Swift, objective-c', 'Golang', 'go',
       'DevOps', '.net', 'Node.js', 'R', 'Java, Javascript', 'Bash',
       '.Net', 'Network', 'nothing', 'Qlik BI Tool, SQL', 'Blockchain',
       'Angular', 'Autonomous Driving', 'c#', 'Js, TypeScript, Angular',
       'T-SQL', 'c++', 'Java, terraform', 'Pascal, VB.NET, C#', 'Oracle',
       'Javascript ', 'Angular, React', 'Elixir',
       'NodeJS, Typescript, AWS', 'Erlang', 'Java, JS', 'Objective-C',
       'QA', 'C++/C#', 'ABAP', 'Java/Kotlin', 'Typescript / Angular',
       'React/Typescript', 'Golang ', 'Salesforce ', 'javascript',
       'Java/C++', 'Scala / Python', 'Java/Scala', 'Web developer',
       'JavaScript/Typescript', 'TypeScript, React',
       'Python / JavaScript (React)', 'JavaScript / typescript',
       'Terraform', 'JAVA', 'Apache Spark',
       'Computer Networking,  Network Security ', 'SAP BW / ABAP',
       'Go, PHP, SQL', 'Kotlin ', 'Jira', 'Qml', 'AWS', 'C#/.NET',
       'Kotlin, Java', 'Linux Kernel', 'several', 'Android/Kotlin',
       'embedded', 'Java/Groovy', 'typescript', 'Python + SQL',
       'Typescript, Web apps', 'Terraform ', 'Java, .Net',
       'Python, statistics, SQL', 'Sql, BQ, tableau, gtm, ga', 'React ',
       'Business Development Manager Operation ', 'Management',
       'Java, Kotlin', 'Nodejs', 'TS', 'sql', 'Spark, Pytorch', 'C/C++',
       'java/scala/go/clouds/devops',
       'Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts',
       'Python, SQL', 'DWH', 'Azure', 'Sketch, Figma', 'js', 'k8s',
       'Frontend: react, node.js', 'VB, RPA, Python', 'FBD', 'C, C++',
       'Swift, Objective-C, iOS', 'Embedded', 'JavaScript / TypeScript',
       'SAP / ABAP', 'Kubrrnetes', 'networking, linux, automation, cloud',
       'UML', 'Spark', 'Js, reactJS ', 'Cobol', 'SRE', 'Clojure',
       'JS, WDIO', 'Terraform, Kubernetes, AWS, GCP, Ansible, Puppet',
       'Spring', 'swift', 'Офмф', 'React JS', 'Typescript ',
       'TypeScript/Angular', 'golang', 'Kotlin/PHP', 'SAP ABAP', 'AI',
       'pythin', 'julia', 'Java & PHP', 'Sql ', 'C++/c',
       'Angular, Typescript', 'Pyrhon', 'PM tools', 'Grails, Groovy',
       'python ', 'React / JavaScript', 'Perl',
       'Python, cloud computing ', 'Haskell', 'JavScript',
       'Python (Django)', 'Network Automation',
       'Kubernetes, Terraform, GCP', 'PowerShell', 'python, scala',
       'Django, Flask, Plotly Dash', 'Sql', 'Javascript, Angular',
       'SAS,SQL,Python', 'Node', 'Python/SQL', 'php, js, python, docker',
       'C, Matlab', 'TypeScript, Kotlin', 'Apotheker',
       'JavaScript, TypeScript', 'Tricentis Tosca', 'Swift/Kotlin',
       'Java & Distributed Systems Stuff', 'jenkins bash',
       'Test Management ', 'NodeJS/TS', 'PHP/MySQL',
       'Angular, TypeScript', 'NLP, Python',
       'Python, Whole Apache Data Science Stack, AWS', 'Embedded C++',
       'NodsJs', 'Javascript/Typescript', 'Linux',
       'Kuberenetes, Openstack', 'c/c++', 'JS, Java', 'Python, Pytorch',
       'PS, Sketch, React, CSS3', 'Python/NLP', 'Scala, Apache Spark',
       'Swift, Objective-C', 'React.js / TypeScript', 'BI, DWH, ETL/ELT',
       'GCP', 'Web', 'PL/SQL', 'SAP', 'scala', 'Java / Scala', 'Magento',
       'Python, database technologies', 'C++, C#', 'Java Backend',
       '.net, c++, spss, embeddded', '.Net, Angular', 'Atlassian JIRA',
       'Qlik', 'spark', 'consumer analysis'], dtype=object)

In [ ]:
def clean_technology(value):
    """
    Funcion para limpiar la columna 'Your main technology / programming language'
    """
    if value in ['-', '--', 'none']:
        return np.nan  # Convertir '-' y '--' a NaN
    if pd.isna(value):
        return value  # Si ya es NaN, lo dejamos igual
    return value.replace('/', ',')   # Reemplazar '/' por ','

In [ ]:
# Limpiar y convertir datos de la columna "Your main technology / programming language"
df['Your main technology / programming language'] = df['Your main technology / programming language'].apply(clean_technology).str.upper()
df.rename(columns={'Your main technology / programming language': 'Main technology'}, inplace=True)

df['Main technology'].unique()

array(['TYPESCRIPT', 'RUBY', 'JAVASCRIPT , TYPESCRIPT', 'JAVASCRIPT',
       'C# .NET', 'AWS, GCP, PYTHON,K8S', 'PHP', 'JAVA',
       'AWS HADOOP POSTGRE TYPESCRIPT', 'C++', nan, 'KOTLIN', 'NODEJS',
       'IOS', 'KUBERNETES', 'CHARLES', 'SQL', 'GO', 'PYTHON', 'FIGMA',
       'GO,PYTHON', 'REACT', 'С#', 'RUBY ON RAILS', 'JAVASCRIPT,ES6',
       '.NET', 'HARDWARE', 'C#', 'GOOGLE CLOUD PLATFORM', 'JS', 'ANDROID',
       'JAVASCRIPT ', 'SCALA', 'C#, .NET CORE', 'VHDL', 'POWER BI',
       'PHP ', 'SWIFT', 'ML', 'SCALA, REACT.JS', 'ML,PYTHON',
       'JAVASCRIPT,TYPESCRIPT', 'AZURE, SAP', 'FRONTEND',
       'JAVA, JAVASCRIPT', 'YAML', 'PYTHON ', 'JAVA ', 'AGILE', 'C',
       'TYPESCRIPT, JAVASCRIPT', 'PEGASYSTEMS PLATFORM ',
       'C++, JAVA, EMBEDDED C', 'CLOUD', 'DC MANAGEMENT',
       'JAVA, ANGULAR, AWS', 'SWIFT, OBJECTIVE-C', 'GOLANG', 'DEVOPS',
       'NODE.JS', 'R', 'BASH', 'NETWORK', 'NOTHING', 'QLIK BI TOOL, SQL',
       'BLOCKCHAIN', 'ANGULAR', 'AUTONOMOUS DRIVING',
       'JS, TYPESCRIPT, ANGULAR', 'T-SQL', 'JAVA, TERRAFORM',
       'PASCAL, VB.NET, C#', 'ORACLE', 'ANGULAR, REACT', 'ELIXIR',
       'NODEJS, TYPESCRIPT, AWS', 'ERLANG', 'JAVA, JS', 'OBJECTIVE-C',
       'QA', 'C++,C#', 'ABAP', 'JAVA,KOTLIN', 'TYPESCRIPT , ANGULAR',
       'REACT,TYPESCRIPT', 'GOLANG ', 'SALESFORCE ', 'JAVA,C++',
       'SCALA , PYTHON', 'JAVA,SCALA', 'WEB DEVELOPER',
       'TYPESCRIPT, REACT', 'PYTHON , JAVASCRIPT (REACT)', 'TERRAFORM',
       'APACHE SPARK', 'COMPUTER NETWORKING,  NETWORK SECURITY ',
       'SAP BW , ABAP', 'GO, PHP, SQL', 'KOTLIN ', 'JIRA', 'QML', 'AWS',
       'C#,.NET', 'KOTLIN, JAVA', 'LINUX KERNEL', 'SEVERAL',
       'ANDROID,KOTLIN', 'EMBEDDED', 'JAVA,GROOVY', 'PYTHON + SQL',
       'TYPESCRIPT, WEB APPS', 'TERRAFORM ', 'JAVA, .NET',
       'PYTHON, STATISTICS, SQL', 'SQL, BQ, TABLEAU, GTM, GA', 'REACT ',
       'BUSINESS DEVELOPMENT MANAGER OPERATION ', 'MANAGEMENT',
       'JAVA, KOTLIN', 'TS', 'SPARK, PYTORCH', 'C,C++',
       'JAVA,SCALA,GO,CLOUDS,DEVOPS',
       'LINUX,UNIX, GIT, VIRTUALISATION PLATFORMS, *SHELL(S) SCRIPTS',
       'PYTHON, SQL', 'DWH', 'AZURE', 'SKETCH, FIGMA', 'K8S',
       'FRONTEND: REACT, NODE.JS', 'VB, RPA, PYTHON', 'FBD', 'C, C++',
       'SWIFT, OBJECTIVE-C, IOS', 'SAP , ABAP', 'KUBRRNETES',
       'NETWORKING, LINUX, AUTOMATION, CLOUD', 'UML', 'SPARK',
       'JS, REACTJS ', 'COBOL', 'SRE', 'CLOJURE', 'JS, WDIO',
       'TERRAFORM, KUBERNETES, AWS, GCP, ANSIBLE, PUPPET', 'SPRING',
       'ОФМФ', 'REACT JS', 'TYPESCRIPT ', 'TYPESCRIPT,ANGULAR',
       'KOTLIN,PHP', 'SAP ABAP', 'AI', 'PYTHIN', 'JULIA', 'JAVA & PHP',
       'SQL ', 'C++,C', 'ANGULAR, TYPESCRIPT', 'PYRHON', 'PM TOOLS',
       'GRAILS, GROOVY', 'REACT , JAVASCRIPT', 'PERL',
       'PYTHON, CLOUD COMPUTING ', 'HASKELL', 'JAVSCRIPT',
       'PYTHON (DJANGO)', 'NETWORK AUTOMATION',
       'KUBERNETES, TERRAFORM, GCP', 'POWERSHELL', 'PYTHON, SCALA',
       'DJANGO, FLASK, PLOTLY DASH', 'JAVASCRIPT, ANGULAR',
       'SAS,SQL,PYTHON', 'NODE', 'PYTHON,SQL', 'PHP, JS, PYTHON, DOCKER',
       'C, MATLAB', 'TYPESCRIPT, KOTLIN', 'APOTHEKER',
       'JAVASCRIPT, TYPESCRIPT', 'TRICENTIS TOSCA', 'SWIFT,KOTLIN',
       'JAVA & DISTRIBUTED SYSTEMS STUFF', 'JENKINS BASH',
       'TEST MANAGEMENT ', 'NODEJS,TS', 'PHP,MYSQL', 'NLP, PYTHON',
       'PYTHON, WHOLE APACHE DATA SCIENCE STACK, AWS', 'EMBEDDED C++',
       'NODSJS', 'LINUX', 'KUBERENETES, OPENSTACK', 'JS, JAVA',
       'PYTHON, PYTORCH', 'PS, SKETCH, REACT, CSS3', 'PYTHON,NLP',
       'SCALA, APACHE SPARK', 'REACT.JS , TYPESCRIPT', 'BI, DWH, ETL,ELT',
       'GCP', 'WEB', 'PL,SQL', 'SAP', 'JAVA , SCALA', 'MAGENTO',
       'PYTHON, DATABASE TECHNOLOGIES', 'C++, C#', 'JAVA BACKEND',
       '.NET, C++, SPSS, EMBEDDDED', '.NET, ANGULAR', 'ATLASSIAN JIRA',
       'QLIK', 'CONSUMER ANALYSIS'], dtype=object)

In [ ]:
def keep_first_technology(value):
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como está

    # Paso 1: Eliminar todo lo que va después de la primera coma
    value = re.split(r',', value)[0].strip()

    # Paso 2: Retornar el valor limpio
    return value

In [ ]:
df['Main technology'] = df['Main technology'].apply(keep_first_technology)
df['Main technology'].unique()

array(['TYPESCRIPT', 'RUBY', 'JAVASCRIPT', 'C# .NET', 'AWS', 'PHP',
       'JAVA', 'AWS HADOOP POSTGRE TYPESCRIPT', 'C++', nan, 'KOTLIN',
       'NODEJS', 'IOS', 'KUBERNETES', 'CHARLES', 'SQL', 'GO', 'PYTHON',
       'FIGMA', 'REACT', 'С#', 'RUBY ON RAILS', '.NET', 'HARDWARE', 'C#',
       'GOOGLE CLOUD PLATFORM', 'JS', 'ANDROID', 'SCALA', 'VHDL',
       'POWER BI', 'SWIFT', 'ML', 'AZURE', 'FRONTEND', 'YAML', 'AGILE',
       'C', 'PEGASYSTEMS PLATFORM', 'CLOUD', 'DC MANAGEMENT', 'GOLANG',
       'DEVOPS', 'NODE.JS', 'R', 'BASH', 'NETWORK', 'NOTHING',
       'QLIK BI TOOL', 'BLOCKCHAIN', 'ANGULAR', 'AUTONOMOUS DRIVING',
       'T-SQL', 'PASCAL', 'ORACLE', 'ELIXIR', 'ERLANG', 'OBJECTIVE-C',
       'QA', 'ABAP', 'SALESFORCE', 'WEB DEVELOPER', 'TERRAFORM',
       'APACHE SPARK', 'COMPUTER NETWORKING', 'SAP BW', 'JIRA', 'QML',
       'LINUX KERNEL', 'SEVERAL', 'EMBEDDED', 'PYTHON + SQL',
       'BUSINESS DEVELOPMENT MANAGER OPERATION', 'MANAGEMENT', 'TS',
       'SPARK', 'LINUX', 'DWH', 'SKETCH', 'K8S', 'FRONTEND: REACT', 'VB',
       'FBD', 'SAP', 'KUBRRNETES', 'NETWORKING', 'UML', 'COBOL', 'SRE',
       'CLOJURE', 'SPRING', 'ОФМФ', 'REACT JS', 'SAP ABAP', 'AI',
       'PYTHIN', 'JULIA', 'JAVA & PHP', 'PYRHON', 'PM TOOLS', 'GRAILS',
       'PERL', 'HASKELL', 'JAVSCRIPT', 'PYTHON (DJANGO)',
       'NETWORK AUTOMATION', 'POWERSHELL', 'DJANGO', 'SAS', 'NODE',
       'APOTHEKER', 'TRICENTIS TOSCA', 'JAVA & DISTRIBUTED SYSTEMS STUFF',
       'JENKINS BASH', 'TEST MANAGEMENT', 'NLP', 'EMBEDDED C++', 'NODSJS',
       'KUBERENETES', 'PS', 'REACT.JS', 'BI', 'GCP', 'WEB', 'PL',
       'MAGENTO', 'JAVA BACKEND', 'ATLASSIAN JIRA', 'QLIK',
       'CONSUMER ANALYSIS'], dtype=object)

In [ ]:
technology_replacements = {
    'C# .NET':'C',
    'AWS HADOOP POSTGRE TYPESCRIPT':'AWS',
    'NODEJS':'NODE.JS',
    'C#':'C',
    'C++':'C',
    'RUBY ON RAILS':'RUBY',
    'GOOGLE CLOUD PLATFORM':'CLOUD',
    'JS':'JAVASCRIPT',
    'FRONTEND':'NOT SPECIFIED',
    'DC MANAGEMENT':'NOT SPECIFIED',
    'DEVOPS':'NOT SPECIFIED',
    'GOLANG':'GO',
    'NETWORK':'NOT SPECIFIED',
    'QLIK BI TOOL':'QLIK',
    'AUTONOMOUS DRIVING':'NOT SPECIFIED',
    'T-SQL':'SQL',
    'OBJECTIVE-C':'C',
    'QA':'NOT SPECIFIED',
    'WEB DEVELOPER':'NOT SPECIFIED',
    'COMPUTER NETWORKING':'NOT SPECIFIED',
    'LINUX KERNEL':'LINUX',
    'SEVERAL':'NOT SPECIFIED',
    'EMBEDDED':'NOT SPECIFIED',
    'PYTHON + SQL':'PYTHON',
    'BUSINESS DEVELOPMENT MANAGER OPERATION':'NOT SPECIFIED',
    'MANAGEMENT':'NOT SPECIFIED',
    'SPARK':'APACHE SPARK',
    'K8S':'KUBERNETES',
    'FRONTEND: REACT':'REACT',
    'VB':'VISUAL BASIC',
    'NETWORKING':'NOT SPECIFIED',
    'ОФМФ':'JAVA',
    'REACT JS':'REACT',
    'SAP ABAP':'SAP',
    'PYTHIN':'PYTHON',
    'JAVA & PHP':'JAVA',
    'PYRHON':'PYTHON',
    'PM TOOLS':'NOT SPECIFIED',
    'JAVSCRIPT':'JAVASCRIPT',
    'PYTHON (DJANGO)':'PYTHON',
    'NETWORK AUTOMATION':'NOT SPECIFIED',
    'NODE':'NODE.JS',
    'APOTHEKER':'NOT SPECIFIED',
    'JAVA & DISTRIBUTED SYSTEMS STUFF':'JAVA',
    'JENKINS BASH':'BASH',
    'TEST MANAGEMENT':'NOT SPECIFIED',
    'EMBEDDED C++':'C',
    'NLP':'NOT SPECIFIED',
    'NODSJS':'NODE.JS',
    'KUBERENETES':'KUBERNETES',
    'PS':'PSEINT',
    'REACT.JS':'REACT',
    'BI':'POWER BI',
    'GCP':'CLOUD',
    'WEB':'NOT SPECIFIED',
    'PL':'SQL',
    'JAVA BACKEND':'JAVA',
    'ATLASSIAN JIRA':'JIRA',
    'CONSUMER ANALYSIS':'NOT SPECIFIED',
    'KUBRRNETES':'KUBERNETES',
    'SAP BW':'SAP',
    'TS':'TYPESCRIPT',
    'С#':'C',
    'DWH':'NOT SPECIFIED',
}

In [ ]:
def clean_technologies(value):
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como está

    if value == 'NOTHING':
        return np.nan

    # Paso 1: Reemplazar por un diccionario
    value = technology_replacements.get(value, value)

    return value

In [ ]:
df['Main technology'] = df['Main technology'].apply(clean_technologies)
df['Main technology'].unique()

array(['TYPESCRIPT', 'RUBY', 'JAVASCRIPT', 'C', 'AWS', 'PHP', 'JAVA', nan,
       'KOTLIN', 'NODE.JS', 'IOS', 'KUBERNETES', 'CHARLES', 'SQL', 'GO',
       'PYTHON', 'FIGMA', 'REACT', '.NET', 'HARDWARE', 'CLOUD', 'ANDROID',
       'SCALA', 'VHDL', 'POWER BI', 'SWIFT', 'ML', 'AZURE',
       'NOT SPECIFIED', 'YAML', 'AGILE', 'PEGASYSTEMS PLATFORM', 'R',
       'BASH', 'QLIK', 'BLOCKCHAIN', 'ANGULAR', 'PASCAL', 'ORACLE',
       'ELIXIR', 'ERLANG', 'ABAP', 'SALESFORCE', 'TERRAFORM',
       'APACHE SPARK', 'SAP', 'JIRA', 'QML', 'LINUX', 'SKETCH',
       'VISUAL BASIC', 'FBD', 'UML', 'COBOL', 'SRE', 'CLOJURE', 'SPRING',
       'AI', 'JULIA', 'GRAILS', 'PERL', 'HASKELL', 'POWERSHELL', 'DJANGO',
       'SAS', 'TRICENTIS TOSCA', 'PSEINT', 'MAGENTO'], dtype=object)

# "Other technologies/programming languages you use often"

In [ ]:
df['Other technologies/programming languages you use often'].unique()

array(['Kotlin, Javascript / Typescript', nan,
       'Javascript / Typescript, Docker', '.NET, SQL, AWS, Docker',
       'Python, AWS, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript', 'SQL, AWS, Docker',
       'Python, Kotlin, Javascript / Typescript, SQL, AWS',
       'Python, C/C++, SQL', 'PHP, Javascript / Typescript, AWS',
       'Go, Kubernetes, Docker', 'SQL',
       'Kotlin, Javascript / Typescript, AWS, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, SQL, Go, AWS, Kubernetes, Docker, Terraform',
       'Javascript / Typescript, AWS, Docker',
       'Kotlin, Java / Scala, SQL',
       'Python, C/C++, Javascript / Typescript, SQL, Go, AWS, Docker',
       'Swift, AWS', 'Python, Go, AWS, Kubernetes, Docker', 'Python',
       'Kotlin',
       'Python, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker',
       'Python, R, Google Cloud, Docker',
       'Python, Javascript / Typescript, Java / Scala, Go, Kubernetes, Docker',
       'Python, Kotlin, Java / Scala, SQL, AWS, Kubernetes, Docker',
       'AWS, Kubernetes, Docker', 'AWS, Kubernetes',
       'Python, C/C++, Javascript / Typescript, .NET, SQL',
       'Kotlin, AWS, Kubernetes, Docker', 'C/C++',
       'Python, SQL, Google Cloud, Kubernetes, Docker',
       'Go, AWS, Kubernetes, Docker, Elixir',
       'PHP, SQL, AWS, Kubernetes, Docker', 'SQL, Go, Kubernetes, Docker',
       'Javascript / Typescript, AWS, Kubernetes, Docker',
       'AWS, Google Cloud, Azure, Docker', 'Java / Scala, AWS, Docker',
       'Javascript / Typescript, Ruby, SQL',
       'Javascript / Typescript, SQL',
       'Kotlin, Javascript / Typescript, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker',
       '.NET, SQL', 'Javascript / Typescript, Java / Scala',
       'C/C++, .NET, SQL', 'Python, SQL, Go, Google Cloud, bash',
       'Javascript / Typescript, SQL, AWS, Google Cloud, Kubernetes, Docker, Quorum',
       'PHP', 'Javascript / Typescript, .NET, SQL, Azure, Docker',
       'Kotlin, Javascript / Typescript, Java / Scala, Docker',
       'Python, Java / Scala, SQL, Go, AWS, Google Cloud, Kubernetes, Docker',
       'Java / Scala', 'Python, C/C++, SQL, Docker',
       'Python, PHP, Javascript / Typescript, Go, Google Cloud, Kubernetes, Docker',
       'Python, Java / Scala, AWS, Docker', 'Kotlin, Java / Scala',
       'Kubernetes', 'Python, .NET, AWS, Azure, Kubernetes, Docker',
       'Kotlin, Javascript / Typescript, SQL, Docker',
       'Python, AWS, Docker', 'Python, Go, AWS, Kubernetes',
       'Python, Javascript / Typescript, SQL, SAP / ABAP, Google Cloud, Azure',
       'Docker',
       'Python, Javascript / Typescript, .NET, SQL, AWS, Azure, Kubernetes, Docker',
       'Python, Kotlin, Java / Scala, SQL, Kubernetes, Docker',
       'Python, Javascript / Typescript, SQL, Kubernetes, Docker',
       'PHP, Javascript / Typescript, SQL',
       'Python, SQL, AWS, Azure, Kubernetes, Docker', 'Kotlin, Ruby',
       'Python, Java / Scala, R, SQL, AWS, Azure',
       'PHP, Javascript / Typescript, SQL, Docker',
       'Python, SQL, AWS, Docker',
       'SQL, AWS, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, SQL, AWS, Docker',
       'Javascript / Typescript, AWS',
       'Java / Scala, AWS, Kubernetes, Docker',
       'Javascript / Typescript, Go',
       'Javascript / Typescript, SQL, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript',
       'Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker',
       'Swift', 'Javascript / Typescript, .NET, SQL',
       'Kotlin, Java / Scala, SQL, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript, .NET, AWS, Azure, Kubernetes, Docker',
       'Javascript / Typescript, Google Cloud, Docker', 'Python, SQL',
       'Python, Java / Scala, R, SQL, Go, AWS, Google Cloud, Azure, Kubernetes, Docker',
       'Kotlin, Java / Scala, SQL, SAP / ABAP, Kubernetes, Docker',
       'PHP, Javascript / Typescript, Dart', 'Kotlin, Java / Scala, AWS',
       'Ruby, Kubernetes, Docker',
       'Python, Kotlin, Javascript / Typescript, Go, AWS, Kubernetes, Docker',
       'SQL, Elixir', '.NET, SQL, Google Cloud, Kubernetes, Docker',
       'SAP / ABAP, AWS, Google Cloud, Azure, Kubernetes, Docker',
       'Python, Java / Scala, Perl', 'Python, C/C++, SQL, AWS',
       'Python, Ruby',
       'Python, Kotlin, Javascript / Typescript, Java / Scala, Docker',
       'SQL, Go', 'AWS, Docker',
       'PHP, Javascript / Typescript, Go, AWS, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, Java / Scala, SQL',
       'Python, SQL, AWS, Azure',
       'Python, PHP, Javascript / Typescript, SQL, Go, Perl, AWS, Google Cloud, Azure, Kubernetes, Docker',
       'Python, Docker',
       'Javascript / Typescript, SQL, Google Cloud, Docker',
       'Python, Kubernetes', 'Python, SQL, AWS, Kubernetes, Docker',
       'PHP, Javascript / Typescript, SQL, AWS, Docker',
       'Swift, Objective-C', 'Python, C/C++, Pytorch',
       'Kotlin, Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker',
       'PHP, AWS, Google Cloud',
       'Python, Kotlin, Swift, Javascript / Typescript, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker',
       'PHP, Javascript / Typescript, SQL, Google Cloud, Docker',
       'R, SQL, AWS, Azure, Docker', 'PHP, Javascript / Typescript',
       'PHP, SQL, AWS, Azure, Kubernetes, Docker', 'Kubernetes, Docker',
       'C/C++, PHP, .NET, SQL', 'Python, C/C++',
       'Python, Kubernetes, Docker, Ansible',
       'C/C++, Javascript / Typescript, Java / Scala, SQL, Docker',
       'Python, C/C++, .NET, Java / Scala',
       'Kotlin, Java / Scala, AWS, Kubernetes, Docker', '.NET, Azure',
       '.NET', 'Javascript / Typescript, Kubernetes, Docker, Angular',
       'Python, Javascript / Typescript, Go',
       'Java / Scala, SQL, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript, Java / Scala, SQL, AWS, Kubernetes, Docker',
       'Java / Scala, SQL, Google Cloud, Docker',
       'Python, Javascript / Typescript, SQL, AWS, Docker',
       'Kotlin, .NET, Java / Scala, Dart', 'C/C++, SQL, AWS, Docker',
       'Swift, Javascript / Typescript, Java / Scala, Google Cloud',
       'Python, Javascript / Typescript, Java / Scala, SQL, AWS, Docker',
       'Kotlin, Swift, Go, AWS, Kubernetes, Docker',
       'R, SQL, Perl, Docker',
       'Python, Javascript / Typescript, SQL, Go, Perl, Google Cloud, Kubernetes, Docker',
       'Kotlin, Java / Scala, SQL, AWS, Docker',
       'PHP, Javascript / Typescript, Perl, AWS, Kubernetes, Docker',
       'Javascript / Typescript, .NET',
       'Kotlin, Javascript / Typescript, Dart',
       'Python, AWS, Azure, Kubernetes, Docker',
       'Javascript / Typescript, Java / Scala, Go',
       'Swift, Javascript / Typescript, Go, AWS, Kubernetes, Docker',
       'Swift, Flutter', 'R, SQL', 'Python, C/C++, Swift, Matlab ',
       'PHP, Javascript / Typescript, .NET, SQL, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, Go, AWS, Docker',
       '.NET, SQL, Azure, Docker', 'Python, R, Azure',
       'Javascript / Typescript, Java / Scala, SQL, AWS, Docker',
       'C/C++, PyTorch', 'Python, Java / Scala, SQL, AWS, Azure',
       'Javascript / Typescript, .NET, SQL, AWS, Docker',
       'Python, PHP, Javascript / Typescript, SQL, Docker',
       'Javascript / Typescript, .NET, SQL, AWS, Azure, Kubernetes, Docker',
       'AWS, Google Cloud', 'Adobe Cloud, Sketch, 3Ds Max',
       'Javascript / Typescript, Kubernetes, Docker', 'PHP, SQL',
       'Ruby, Objective C', 'Kotlin, SQL, AWS, Docker, Spark',
       'Python, .NET, Azure, Kubernetes, Docker',
       'Python, Kotlin, Java / Scala, SQL, Go, AWS, Google Cloud, Kubernetes, Docker',
       'SQL, Go, AWS, Docker', 'Kotlin, Java / Scala, Azure',
       'Kotlin, SQL, Azure, Kubernetes, Docker, Mongo',
       'Javascript / Typescript, Azure, Kubernetes, GraphQL',
       'SQL, AWS, Kubernetes, Docker, Groovy',
       'SQL, Go, AWS, Kubernetes, Docker',
       'Javascript / Typescript, SQL, Azure',
       'SQL, AWS, Azure, Kubernetes, Docker',
       'Java / Scala, SQL, AWS, Google Cloud, Azure, Docker',
       'SQL, AWS, Kubernetes', 'Kotlin, .NET, SQL, AWS',
       'Javascript / Typescript, Ruby, AWS, Kubernetes, Docker',
       'Javascript / Typescript, AWS, Kubernetes',
       'Python, C/C++, Javascript / Typescript, Ruby, .NET, Java / Scala, SQL, Go, AWS, Kubernetes',
       'Python, Kotlin, Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker',
       'Python, PHP, Javascript / Typescript, SQL', 'Swift, objective-c',
       'Javascript / Typescript, .NET, SQL, Azure, Kubernetes, Docker',
       'Javascript / Typescript, SQL, Go, AWS, Docker',
       'Go, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript, Docker',
       'Javascript / Typescript, .NET, SQL, Azure', 'Erlang',
       'Python, Kotlin, Java / Scala, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, Ruby, SQL, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, Java / Scala, AWS',
       'Python, Java / Scala, Docker', 'Python, SQL, Docker',
       'Javascript / Typescript, Kubernetes',
       'Python, SQL, Kubernetes, Docker', 'PHP, Java / Scala',
       'PHP, Javascript / Typescript, Java / Scala, Docker', 'PHP, Go',
       'Elixir', 'Python, SQL, Go, AWS, Kubernetes, Docker', 'SAP / ABAP',
       'Python, Java / Scala', 'Kotlin, C/C++, Java / Scala',
       'PHP, SQL, Go, Docker, Postgres',
       'Python, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, .NET, SQL, Docker',
       'Python, C/C++, Docker', 'Javascript / Typescript, SAP / ABAP',
       'Python, Kotlin, Javascript / Typescript, Java / Scala, SQL, Kubernetes, Docker',
       'Linux', 'Ruby, Java / Scala, Go, AWS, Kubernetes, Docker',
       'Kotlin, Javascript / Typescript, Java / Scala, Kubernetes, Docker',
       'MongoDB',
       'Javascript / Typescript, .NET, SQL, Go, Kubernetes, Docker',
       'Python, SQL, Azure', 'PHP, SQL, Perl',
       'Python, C/C++, Javascript / Typescript, Java / Scala',
       'Java / Scala, SQL', 'Python, Javascript / Typescript, Apex',
       'C/C++, SQL, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript, AWS, Docker',
       'Python, C/C++, Javascript / Typescript, Java / Scala, SQL, Kubernetes',
       'Python, Ruby, Java / Scala, Google Cloud, Kubernetes, Docker',
       'Python, C/C++, Javascript / Typescript, SQL',
       'Python, Kotlin, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker',
       'Python, Javascript / Typescript, .NET, Java / Scala, Kubernetes, Docker',
       'Python, Javascript / Typescript, Java / Scala, Go, AWS, Kubernetes, Docker',
       'Python, Go, AWS, Docker',
       'Python, C/C++, AWS, Kubernetes, Docker',
       'PHP, SQL, Kubernetes, Docker', 'C/C++, PHP, SQL', 'Python, R, Go',
       'Go',
       'Python, Javascript / Typescript, SQL, Go, AWS, Google Cloud, Kubernetes, Docker',
       'Kotlin, SQL, AWS, Kubernetes, Docker', 'SQL, Kubernetes, Docker',
       'Python, Ruby, Java / Scala, Go, Rust, AWS, Kubernetes, Docker, Terraform, helm, packer',
       'Javascript / Typescript, Google Cloud, Kubernetes, Docker',
       'Python, R, SQL, SAP / ABAP, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript, SQL, AWS, Docker, React, Tailwindcss',
       'PHP, SQL, AWS, Docker', 'Javascript / Typescript, Angular',
       'Python, Javascript / Typescript, Google Cloud',
       'Javascript / Typescript, SQL, Docker',
       'Javascript / Typescript, .NET, Kubernetes, Docker',
       'Ruby, Java / Scala, AWS, Kubernetes, Docker', 'Google Cloud',
       'C/C++, Javascript / Typescript, .NET, SQL, Azure',
       'PHP, Javascript / Typescript, .NET, SQL, Azure, Kubernetes, Docker, React, Angular2+',
       'Java / Scala, Google Cloud, Kubernetes, Docker',
       'PHP, SQL, Go, AWS, Docker', 'Swift, Google Cloud',
       'PHP, SQL, SAP / ABAP, Delphi',
       'Kotlin, PHP, Javascript / Typescript, Java / Scala',
       'SQL, AWS, Kubernetes, Docker',
       'Python, Kotlin, C/C++, Java / Scala',
       'PHP, Javascript / Typescript, Java / Scala, SQL, AWS, Docker',
       'Javascript / Typescript, Java / Scala, AWS, Docker',
       'C/C++, SQL, VBA', 'Javascript / Typescript, SQL, Go, Docker',
       'Ruby, SQL',
       'Javascript / Typescript, .NET, SQL, AWS, Kubernetes, Docker',
       'NodeJS', 'AWS', 'Python, Javascript / Typescript, Azure',
       'Javascript / Typescript, Ruby, Kubernetes, Docker',
       'Javascript / Typescript, Google Cloud',
       'Python, Java / Scala, AWS', 'Ruby',
       'Ruby, AWS, Kubernetes, Docker', 'C/C++, Kubernetes, Docker',
       'Google Cloud, Kubernetes, Docker, Shell',
       'Python, C/C++, Javascript / Typescript, SQL, Docker',
       'Kotlin, Java / Scala, SQL, Kubernetes, Docker',
       'Python, Kotlin, Java / Scala, AWS',
       'Python, SQL, SAP / ABAP, AWS',
       'SQL, Google Cloud, Kubernetes, Docker', 'R, SQL, AWS, Docker',
       'Python, Kotlin, Javascript / Typescript, SQL, AWS, Docker',
       'Python, Javascript / Typescript, SQL, AWS',
       'R, SQL, AWS, Kubernetes, Docker',
       'Javascript / Typescript, .NET, Java / Scala, Docker',
       'Python, Java / Scala, SQL, Azure, Docker', 'Go, AWS, Docker',
       'Python, Javascript / Typescript, Java / Scala, SQL',
       'Ruby, SQL, Go, AWS, Kubernetes, Docker',
       'Python, SQL, AWS, Docker, unix shell scripts',
       'Python, Java / Scala, Go, AWS, Kubernetes, Docker',
       'Javascript / Typescript, .NET, Azure, Docker',
       'Java / Scala, R, SQL, Docker, Julia ', 'C/C++, Clojure, Assembly',
       'Python, PHP, Javascript / Typescript, SQL, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript, SQL, Docker',
       'Java / Scala, Kubernetes, Docker',
       'Python, Java / Scala, SQL, AWS, Kubernetes, Docker',
       'Javascript / Typescript, .NET, Azure',
       'Python, SQL, AWS, Google Cloud', 'Python, SQL, Spark',
       'Python, PHP, AWS, Google Cloud, Kubernetes, Docker',
       'Python, Kotlin, Java / Scala, Go, Rust, AWS, Kubernetes, Docker',
       'Kotlin, Swift', 'Python, Java / Scala, SQL, AWS, Docker',
       'Java / Scala, SQL, Go, Google Cloud, Kubernetes, Docker',
       'Kotlin, PHP, Swift, Javascript / Typescript, Java / Scala, Clojure, R, Rust, AWS, Google Cloud, Azure, Kubernetes, Docker',
       'Python, AWS, Kubernetes',
       'Python, SQL, AWS, Google Cloud, Kubernetes, Docker',
       '.NET, Java / Scala, SQL, Go, AWS, Docker', 'R, SQL, AWS',
       'Python, SQL, Google Cloud, Docker',
       'Python, C/C++, Swift, Java / Scala, R, SQL, Go, AWS, Google Cloud, Azure, Kubernetes, Docker',
       'Javascript / Typescript, Google Cloud, Kubernetes',
       'Python, Javascript / Typescript, SQL',
       'Python, Javascript / Typescript, SQL, Perl, Docker',
       'Python, Google Cloud', 'Python, SQL, AWS, Google Cloud, Docker',
       'Python, SQL, Perl, AWS, Google Cloud, Docker',
       'Python, Swift, Java / Scala', 'Python, SQL, AWS',
       'Python, R, SQL',
       'Javascript / Typescript, Go, AWS, Google Cloud, Docker',
       'Python, Javascript / Typescript, SQL, AWS, Kubernetes, Docker',
       'Java / Scala, Go, AWS, Google Cloud, Kubernetes, Docker',
       'Ruby, Go, Perl',
       'Javascript / Typescript, Java / Scala, Google Cloud, Docker',
       'Java / Scala, SQL, Kubernetes, Docker',
       'Kotlin, Javascript / Typescript, Docker', 'Python, Squish',
       'C/C++, .NET, Go, Docker',
       'Python, Javascript / Typescript, SQL, AWS, Google Cloud, Kubernetes, Docker',
       'Python, AWS, Kubernetes, Docker',
       'Python, Java / Scala, SQL, AWS',
       'Javascript / Typescript, Java / Scala, SQL, Docker, Groovy',
       'Python, Kotlin, AWS, Docker', 'Pl/sql',
       'Python, SQL, AWS, Docker, Spark, Airflow',
       'AWS, Terraform, Scala Spark, ', 'Swift, Java / Scala',
       'Python, C/C++, Java / Scala, AWS, Kubernetes, Docker',
       'Kotlin, C/C++, Swift, Ruby', 'Go, AWS, Kubernetes',
       'Java / Scala, Google Cloud, Docker',
       'Python, Kotlin, Javascript / Typescript, AWS, Kubernetes, Docker',
       'Python, PHP, Javascript / Typescript, .NET, SQL, SAP / ABAP',
       'Java / Scala, Go, AWS, Google Cloud, Azure, Kubernetes, Docker',
       'C/C++, Linux Kernel',
       'Python, Javascript / Typescript, Ruby, SQL, AWS, Docker',
       'Python, C/C++, Go',
       'Kotlin, Ruby, Go, Rust, AWS, Kubernetes, Docker',
       'Python, Kotlin, Java / Scala, Google Cloud, Kubernetes',
       'Javascript / Typescript, AWS, Azure, Docker',
       'Javascript / Typescript, C#',
       'Kotlin, Javascript / Typescript, AWS, Kubernetes, Docker',
       'Javascript / Typescript, SQL, AWS', 'Python, Azure, Kubernetes',
       'Python, Javascript / Typescript, Java / Scala, SQL, Go, AWS, Kubernetes, Docker',
       'SQL, SAP / ABAP', 'R, AWS, Google Cloud, Kubernetes, Docker',
       'Python, SQL, Go, AWS, Google Cloud, Azure, Kubernetes, Docker',
       'Python, PHP, SQL, Perl, AWS, Google Cloud, Kubernetes, Docker',
       'Javascript / Typescript, AWS, Docker, Node',
       'Javascript / Typescript, .NET, SQL, Google Cloud',
       'Javascript / Typescript, Azure',
       'PHP, Java / Scala, SQL, AWS, Docker', 'Python, AWS',
       'PHP, Javascript / Typescript, Java / Scala',
       'Python, Java / Scala, SQL, AWS, Google Cloud, Azure',
       'Python, Go', 'Perl',
       'C/C++, .NET, Java / Scala, AWS, Kubernetes, Docker',
       'Python, Javascript / Typescript, SQL, Rust, AWS, Kubernetes, Docker',
       'Python, SQL, AWS, Azure, Docker',
       'Kotlin, Java / Scala, Google Cloud, Kubernetes, Docker',
       'Swift, Javascript / Typescript, Java / Scala, Clojure',
       'Python, Javascript / Typescript, SQL, SAP / ABAP', 'SQL, AWS',
       'Ruby, Java / Scala, SQL, Go, AWS, Google Cloud, Kubernetes, Docker',
       'Python, Javascript / Typescript, SQL, AWS, Google Cloud, Kubernetes, Docker, Elixir',
       'Python, Tensorflow, Theano, Pytorch',
       'Java / Scala, AWS, Azure, Kubernetes, Docker',
       'Python, Kotlin, Javascript / Typescript, SQL, Docker',
       'Python, .NET, SQL',
       'Python, Javascript / Typescript, SQL, AWS, Google Cloud, Docker',
       'Javascript / Typescript, Java / Scala, Go, AWS, Docker',
       'Python, AWS, Kubernetes, Docker, React',
       'Python, Kotlin, Swift, Javascript / Typescript',
       'Python, Ruby, Go, AWS, Google Cloud, Kubernetes, Docker',
       'Python, C/C++, Rust', 'SQL, Google Cloud, Docker',
       'Python, Javascript / Typescript, SQL, Google Cloud, Docker',
       'Javascript / Typescript, Java / Scala, Flutter',
       'Javascript / Typescript, Ruby, Elixir',
       'PHP, Javascript / Typescript, SQL, Go, Google Cloud, Kubernetes, Docker',
       'Python, Java / Scala, SQL, Google Cloud',
       'Javascript / Typescript, Java / Scala, Go, Rust, AWS, Kubernetes, Docker',
       'Google Cloud, Docker',
       'Kotlin, Java / Scala, SQL, AWS, Google Cloud, Docker',
       'Java / Scala, SQL, AWS',
       'Javascript / Typescript, Ruby, AWS, Docker',
       'Go, Google Cloud, Kubernetes, Docker',
       'Python, PHP, Javascript / Typescript, .NET, Java / Scala, AWS, Azure',
       'PHP, Javascript / Typescript, AWS, Docker', 'Azure',
       'PHP, Java / Scala, Go, AWS, Docker', 'C/C++, SQL, Docker',
       'Kotlin, PHP, SQL', 'Python, C/C++, .NET',
       '.NET, Kubernetes, Docker', 'Python, C/C++, Go, AWS, Docker',
       'AWS, Google Cloud, Kubernetes, Docker',
       'Python, Kotlin, Javascript / Typescript, Java / Scala, SQL, AWS, Google Cloud, Docker',
       'Python, Java / Scala, R, SQL',
       'Python, C/C++, Javascript / Typescript, Go',
       'Python, C/C++, Docker, Tensorflow, PyTorch',
       'Javascript / Typescript, R, SQL, Google Cloud',
       'Python, R, SQL, Azure', 'Kotlin, SQL, Kubernetes, Docker',
       'Java / Scala, SQL, AWS, Azure',

In [ ]:
def clean_technologies(value):
    """
    Función para limpiar la columna 'Other technologies/programming languages you use often'
    """
    if pd.isna(value):
        return value  # Mantener los NaN como están
    # Reemplazar '/' por ',' y ';' por ','
    value = value.replace('/', ',').replace(';', ',')
    # Convertir a mayúsculas
    value = value.upper()
    return value

In [ ]:
# Limpiar y convertir a mayusculas la columna "Other technologies/programming languages you use often"
df['Other technologies/programming languages you use often'] = df['Other technologies/programming languages you use often'].apply(clean_technologies)
df.rename(columns={'Other technologies/programming languages you use often': 'Other technologies'}, inplace=True)
df['Other technologies'].unique()

array(['KOTLIN, JAVASCRIPT , TYPESCRIPT', nan,
       'JAVASCRIPT , TYPESCRIPT, DOCKER', '.NET, SQL, AWS, DOCKER',
       'PYTHON, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT', 'SQL, AWS, DOCKER',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, SQL, AWS',
       'PYTHON, C,C++, SQL', 'PHP, JAVASCRIPT , TYPESCRIPT, AWS',
       'GO, KUBERNETES, DOCKER', 'SQL',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, SQL, GO, AWS, KUBERNETES, DOCKER, TERRAFORM',
       'JAVASCRIPT , TYPESCRIPT, AWS, DOCKER',
       'KOTLIN, JAVA , SCALA, SQL',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, SQL, GO, AWS, DOCKER',
       'SWIFT, AWS', 'PYTHON, GO, AWS, KUBERNETES, DOCKER', 'PYTHON',
       'KOTLIN',
       'PYTHON, JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, R, GOOGLE CLOUD, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, GO, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVA , SCALA, SQL, AWS, KUBERNETES, DOCKER',
       'AWS, KUBERNETES, DOCKER', 'AWS, KUBERNETES',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, .NET, SQL',
       'KOTLIN, AWS, KUBERNETES, DOCKER', 'C,C++',
       'PYTHON, SQL, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'GO, AWS, KUBERNETES, DOCKER, ELIXIR',
       'PHP, SQL, AWS, KUBERNETES, DOCKER', 'SQL, GO, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, AWS, KUBERNETES, DOCKER',
       'AWS, GOOGLE CLOUD, AZURE, DOCKER', 'JAVA , SCALA, AWS, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, RUBY, SQL',
       'JAVASCRIPT , TYPESCRIPT, SQL',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       '.NET, SQL', 'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA',
       'C,C++, .NET, SQL', 'PYTHON, SQL, GO, GOOGLE CLOUD, BASH',
       'JAVASCRIPT , TYPESCRIPT, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER, QUORUM',
       'PHP', 'JAVASCRIPT , TYPESCRIPT, .NET, SQL, AZURE, DOCKER',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, DOCKER',
       'PYTHON, JAVA , SCALA, SQL, GO, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVA , SCALA', 'PYTHON, C,C++, SQL, DOCKER',
       'PYTHON, PHP, JAVASCRIPT , TYPESCRIPT, GO, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, JAVA , SCALA, AWS, DOCKER', 'KOTLIN, JAVA , SCALA',
       'KUBERNETES', 'PYTHON, .NET, AWS, AZURE, KUBERNETES, DOCKER',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, SQL, DOCKER',
       'PYTHON, AWS, DOCKER', 'PYTHON, GO, AWS, KUBERNETES',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, SAP , ABAP, GOOGLE CLOUD, AZURE',
       'DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, .NET, SQL, AWS, AZURE, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVA , SCALA, SQL, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, KUBERNETES, DOCKER',
       'PHP, JAVASCRIPT , TYPESCRIPT, SQL',
       'PYTHON, SQL, AWS, AZURE, KUBERNETES, DOCKER', 'KOTLIN, RUBY',
       'PYTHON, JAVA , SCALA, R, SQL, AWS, AZURE',
       'PHP, JAVASCRIPT , TYPESCRIPT, SQL, DOCKER',
       'PYTHON, SQL, AWS, DOCKER',
       'SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, SQL, AWS, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, AWS',
       'JAVA , SCALA, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, GO',
       'JAVASCRIPT , TYPESCRIPT, SQL, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, AWS, KUBERNETES, DOCKER',
       'SWIFT', 'JAVASCRIPT , TYPESCRIPT, .NET, SQL',
       'KOTLIN, JAVA , SCALA, SQL, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, .NET, AWS, AZURE, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, GOOGLE CLOUD, DOCKER', 'PYTHON, SQL',
       'PYTHON, JAVA , SCALA, R, SQL, GO, AWS, GOOGLE CLOUD, AZURE, KUBERNETES, DOCKER',
       'KOTLIN, JAVA , SCALA, SQL, SAP , ABAP, KUBERNETES, DOCKER',
       'PHP, JAVASCRIPT , TYPESCRIPT, DART', 'KOTLIN, JAVA , SCALA, AWS',
       'RUBY, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, GO, AWS, KUBERNETES, DOCKER',
       'SQL, ELIXIR', '.NET, SQL, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'SAP , ABAP, AWS, GOOGLE CLOUD, AZURE, KUBERNETES, DOCKER',
       'PYTHON, JAVA , SCALA, PERL', 'PYTHON, C,C++, SQL, AWS',
       'PYTHON, RUBY',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, DOCKER',
       'SQL, GO', 'AWS, DOCKER',
       'PHP, JAVASCRIPT , TYPESCRIPT, GO, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL',
       'PYTHON, SQL, AWS, AZURE',
       'PYTHON, PHP, JAVASCRIPT , TYPESCRIPT, SQL, GO, PERL, AWS, GOOGLE CLOUD, AZURE, KUBERNETES, DOCKER',
       'PYTHON, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, SQL, GOOGLE CLOUD, DOCKER',
       'PYTHON, KUBERNETES', 'PYTHON, SQL, AWS, KUBERNETES, DOCKER',
       'PHP, JAVASCRIPT , TYPESCRIPT, SQL, AWS, DOCKER',
       'SWIFT, OBJECTIVE-C', 'PYTHON, C,C++, PYTORCH',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, AWS, KUBERNETES, DOCKER',
       'PHP, AWS, GOOGLE CLOUD',
       'PYTHON, KOTLIN, SWIFT, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PHP, JAVASCRIPT , TYPESCRIPT, SQL, GOOGLE CLOUD, DOCKER',
       'R, SQL, AWS, AZURE, DOCKER', 'PHP, JAVASCRIPT , TYPESCRIPT',
       'PHP, SQL, AWS, AZURE, KUBERNETES, DOCKER', 'KUBERNETES, DOCKER',
       'C,C++, PHP, .NET, SQL', 'PYTHON, C,C++',
       'PYTHON, KUBERNETES, DOCKER, ANSIBLE',
       'C,C++, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, DOCKER',
       'PYTHON, C,C++, .NET, JAVA , SCALA',
       'KOTLIN, JAVA , SCALA, AWS, KUBERNETES, DOCKER', '.NET, AZURE',
       '.NET', 'JAVASCRIPT , TYPESCRIPT, KUBERNETES, DOCKER, ANGULAR',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, GO',
       'JAVA , SCALA, SQL, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, AWS, KUBERNETES, DOCKER',
       'JAVA , SCALA, SQL, GOOGLE CLOUD, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, AWS, DOCKER',
       'KOTLIN, .NET, JAVA , SCALA, DART', 'C,C++, SQL, AWS, DOCKER',
       'SWIFT, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, GOOGLE CLOUD',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, AWS, DOCKER',
       'KOTLIN, SWIFT, GO, AWS, KUBERNETES, DOCKER',
       'R, SQL, PERL, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, GO, PERL, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'KOTLIN, JAVA , SCALA, SQL, AWS, DOCKER',
       'PHP, JAVASCRIPT , TYPESCRIPT, PERL, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, DART',
       'PYTHON, AWS, AZURE, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, GO',
       'SWIFT, JAVASCRIPT , TYPESCRIPT, GO, AWS, KUBERNETES, DOCKER',
       'SWIFT, FLUTTER', 'R, SQL', 'PYTHON, C,C++, SWIFT, MATLAB ',
       'PHP, JAVASCRIPT , TYPESCRIPT, .NET, SQL, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, GO, AWS, DOCKER',
       '.NET, SQL, AZURE, DOCKER', 'PYTHON, R, AZURE',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, AWS, DOCKER',
       'C,C++, PYTORCH', 'PYTHON, JAVA , SCALA, SQL, AWS, AZURE',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, AWS, DOCKER',
       'PYTHON, PHP, JAVASCRIPT , TYPESCRIPT, SQL, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, AWS, AZURE, KUBERNETES, DOCKER',
       'AWS, GOOGLE CLOUD', 'ADOBE CLOUD, SKETCH, 3DS MAX',
       'JAVASCRIPT , TYPESCRIPT, KUBERNETES, DOCKER', 'PHP, SQL',
       'RUBY, OBJECTIVE C', 'KOTLIN, SQL, AWS, DOCKER, SPARK',
       'PYTHON, .NET, AZURE, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVA , SCALA, SQL, GO, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'SQL, GO, AWS, DOCKER', 'KOTLIN, JAVA , SCALA, AZURE',
       'KOTLIN, SQL, AZURE, KUBERNETES, DOCKER, MONGO',
       'JAVASCRIPT , TYPESCRIPT, AZURE, KUBERNETES, GRAPHQL',
       'SQL, AWS, KUBERNETES, DOCKER, GROOVY',
       'SQL, GO, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, SQL, AZURE',
       'SQL, AWS, AZURE, KUBERNETES, DOCKER',
       'JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, AZURE, DOCKER',
       'SQL, AWS, KUBERNETES', 'KOTLIN, .NET, SQL, AWS',
       'JAVASCRIPT , TYPESCRIPT, RUBY, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, AWS, KUBERNETES',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, RUBY, .NET, JAVA , SCALA, SQL, GO, AWS, KUBERNETES',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, AWS, KUBERNETES, DOCKER',
       'PYTHON, PHP, JAVASCRIPT , TYPESCRIPT, SQL',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, AZURE, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, SQL, GO, AWS, DOCKER',
       'GO, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, AZURE', 'ERLANG',
       'PYTHON, KOTLIN, JAVA , SCALA, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, RUBY, SQL, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, AWS',
       'PYTHON, JAVA , SCALA, DOCKER', 'PYTHON, SQL, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, KUBERNETES',
       'PYTHON, SQL, KUBERNETES, DOCKER', 'PHP, JAVA , SCALA',
       'PHP, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, DOCKER', 'PHP, GO',
       'ELIXIR', 'PYTHON, SQL, GO, AWS, KUBERNETES, DOCKER', 'SAP , ABAP',
       'PYTHON, JAVA , SCALA', 'KOTLIN, C,C++, JAVA , SCALA',
       'PHP, SQL, GO, DOCKER, POSTGRES',
       'PYTHON, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, DOCKER',
       'PYTHON, C,C++, DOCKER', 'JAVASCRIPT , TYPESCRIPT, SAP , ABAP',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, KUBERNETES, DOCKER',
       'LINUX', 'RUBY, JAVA , SCALA, GO, AWS, KUBERNETES, DOCKER',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, KUBERNETES, DOCKER',
       'MONGODB',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, GO, KUBERNETES, DOCKER',
       'PYTHON, SQL, AZURE', 'PHP, SQL, PERL',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA',
       'JAVA , SCALA, SQL', 'PYTHON, JAVASCRIPT , TYPESCRIPT, APEX',
       'C,C++, SQL, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, AWS, DOCKER',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, KUBERNETES',
       'PYTHON, RUBY, JAVA , SCALA, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, SQL',
       'PYTHON, KOTLIN, JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, .NET, JAVA , SCALA, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, GO, AWS, KUBERNETES, DOCKER',
       'PYTHON, GO, AWS, DOCKER',
       'PYTHON, C,C++, AWS, KUBERNETES, DOCKER',
       'PHP, SQL, KUBERNETES, DOCKER', 'C,C++, PHP, SQL', 'PYTHON, R, GO',
       'GO',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, GO, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'KOTLIN, SQL, AWS, KUBERNETES, DOCKER', 'SQL, KUBERNETES, DOCKER',
       'PYTHON, RUBY, JAVA , SCALA, GO, RUST, AWS, KUBERNETES, DOCKER, TERRAFORM, HELM, PACKER',
       'JAVASCRIPT , TYPESCRIPT, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, R, SQL, SAP , ABAP, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, AWS, DOCKER, REACT, TAILWINDCSS',
       'PHP, SQL, AWS, DOCKER', 'JAVASCRIPT , TYPESCRIPT, ANGULAR',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, GOOGLE CLOUD',
       'JAVASCRIPT , TYPESCRIPT, SQL, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET, KUBERNETES, DOCKER',
       'RUBY, JAVA , SCALA, AWS, KUBERNETES, DOCKER', 'GOOGLE CLOUD',
       'C,C++, JAVASCRIPT , TYPESCRIPT, .NET, SQL, AZURE',
       'PHP, JAVASCRIPT , TYPESCRIPT, .NET, SQL, AZURE, KUBERNETES, DOCKER, REACT, ANGULAR2+',
       'JAVA , SCALA, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PHP, SQL, GO, AWS, DOCKER', 'SWIFT, GOOGLE CLOUD',
       'PHP, SQL, SAP , ABAP, DELPHI',
       'KOTLIN, PHP, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA',
       'SQL, AWS, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, C,C++, JAVA , SCALA',
       'PHP, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, AWS, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, AWS, DOCKER',
       'C,C++, SQL, VBA', 'JAVASCRIPT , TYPESCRIPT, SQL, GO, DOCKER',
       'RUBY, SQL',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, AWS, KUBERNETES, DOCKER',
       'NODEJS', 'AWS', 'PYTHON, JAVASCRIPT , TYPESCRIPT, AZURE',
       'JAVASCRIPT , TYPESCRIPT, RUBY, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, GOOGLE CLOUD',
       'PYTHON, JAVA , SCALA, AWS', 'RUBY',
       'RUBY, AWS, KUBERNETES, DOCKER', 'C,C++, KUBERNETES, DOCKER',
       'GOOGLE CLOUD, KUBERNETES, DOCKER, SHELL',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, SQL, DOCKER',
       'KOTLIN, JAVA , SCALA, SQL, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVA , SCALA, AWS',
       'PYTHON, SQL, SAP , ABAP, AWS',
       'SQL, GOOGLE CLOUD, KUBERNETES, DOCKER', 'R, SQL, AWS, DOCKER',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, SQL, AWS, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, AWS',
       'R, SQL, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET, JAVA , SCALA, DOCKER',
       'PYTHON, JAVA , SCALA, SQL, AZURE, DOCKER', 'GO, AWS, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL',
       'RUBY, SQL, GO, AWS, KUBERNETES, DOCKER',
       'PYTHON, SQL, AWS, DOCKER, UNIX SHELL SCRIPTS',
       'PYTHON, JAVA , SCALA, GO, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET, AZURE, DOCKER',
       'JAVA , SCALA, R, SQL, DOCKER, JULIA ', 'C,C++, CLOJURE, ASSEMBLY',
       'PYTHON, PHP, JAVASCRIPT , TYPESCRIPT, SQL, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, DOCKER',
       'JAVA , SCALA, KUBERNETES, DOCKER',
       'PYTHON, JAVA , SCALA, SQL, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, .NET, AZURE',
       'PYTHON, SQL, AWS, GOOGLE CLOUD', 'PYTHON, SQL, SPARK',
       'PYTHON, PHP, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVA , SCALA, GO, RUST, AWS, KUBERNETES, DOCKER',
       'KOTLIN, SWIFT', 'PYTHON, JAVA , SCALA, SQL, AWS, DOCKER',
       'JAVA , SCALA, SQL, GO, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'KOTLIN, PHP, SWIFT, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, CLOJURE, R, RUST, AWS, GOOGLE CLOUD, AZURE, KUBERNETES, DOCKER',
       'PYTHON, AWS, KUBERNETES',
       'PYTHON, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       '.NET, JAVA , SCALA, SQL, GO, AWS, DOCKER', 'R, SQL, AWS',
       'PYTHON, SQL, GOOGLE CLOUD, DOCKER',
       'PYTHON, C,C++, SWIFT, JAVA , SCALA, R, SQL, GO, AWS, GOOGLE CLOUD, AZURE, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, GOOGLE CLOUD, KUBERNETES',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, PERL, DOCKER',
       'PYTHON, GOOGLE CLOUD', 'PYTHON, SQL, AWS, GOOGLE CLOUD, DOCKER',
       'PYTHON, SQL, PERL, AWS, GOOGLE CLOUD, DOCKER',
       'PYTHON, SWIFT, JAVA , SCALA', 'PYTHON, SQL, AWS',
       'PYTHON, R, SQL',
       'JAVASCRIPT , TYPESCRIPT, GO, AWS, GOOGLE CLOUD, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, AWS, KUBERNETES, DOCKER',
       'JAVA , SCALA, GO, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'RUBY, GO, PERL',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, GOOGLE CLOUD, DOCKER',
       'JAVA , SCALA, SQL, KUBERNETES, DOCKER',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, DOCKER', 'PYTHON, SQUISH',
       'C,C++, .NET, GO, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVA , SCALA, SQL, AWS',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, DOCKER, GROOVY',
       'PYTHON, KOTLIN, AWS, DOCKER', 'PL,SQL',
       'PYTHON, SQL, AWS, DOCKER, SPARK, AIRFLOW',
       'AWS, TERRAFORM, SCALA SPARK, ', 'SWIFT, JAVA , SCALA',
       'PYTHON, C,C++, JAVA , SCALA, AWS, KUBERNETES, DOCKER',
       'KOTLIN, C,C++, SWIFT, RUBY', 'GO, AWS, KUBERNETES',
       'JAVA , SCALA, GOOGLE CLOUD, DOCKER',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, AWS, KUBERNETES, DOCKER',
       'PYTHON, PHP, JAVASCRIPT , TYPESCRIPT, .NET, SQL, SAP , ABAP',
       'JAVA , SCALA, GO, AWS, GOOGLE CLOUD, AZURE, KUBERNETES, DOCKER',
       'C,C++, LINUX KERNEL',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, RUBY, SQL, AWS, DOCKER',
       'PYTHON, C,C++, GO',
       'KOTLIN, RUBY, GO, RUST, AWS, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVA , SCALA, GOOGLE CLOUD, KUBERNETES',
       'JAVASCRIPT , TYPESCRIPT, AWS, AZURE, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, C#',
       'KOTLIN, JAVASCRIPT , TYPESCRIPT, AWS, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, SQL, AWS', 'PYTHON, AZURE, KUBERNETES',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, GO, AWS, KUBERNETES, DOCKER',
       'SQL, SAP , ABAP', 'R, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, SQL, GO, AWS, GOOGLE CLOUD, AZURE, KUBERNETES, DOCKER',
       'PYTHON, PHP, SQL, PERL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, AWS, DOCKER, NODE',
       'JAVASCRIPT , TYPESCRIPT, .NET, SQL, GOOGLE CLOUD',
       'JAVASCRIPT , TYPESCRIPT, AZURE',
       'PHP, JAVA , SCALA, SQL, AWS, DOCKER', 'PYTHON, AWS',
       'PHP, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA',
       'PYTHON, JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, AZURE',
       'PYTHON, GO', 'PERL',
       'C,C++, .NET, JAVA , SCALA, AWS, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, RUST, AWS, KUBERNETES, DOCKER',
       'PYTHON, SQL, AWS, AZURE, DOCKER',
       'KOTLIN, JAVA , SCALA, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'SWIFT, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, CLOJURE',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, SAP , ABAP', 'SQL, AWS',
       'RUBY, JAVA , SCALA, SQL, GO, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER, ELIXIR',
       'PYTHON, TENSORFLOW, THEANO, PYTORCH',
       'JAVA , SCALA, AWS, AZURE, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, SQL, DOCKER',
       'PYTHON, .NET, SQL',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, AWS, GOOGLE CLOUD, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, GO, AWS, DOCKER',
       'PYTHON, AWS, KUBERNETES, DOCKER, REACT',
       'PYTHON, KOTLIN, SWIFT, JAVASCRIPT , TYPESCRIPT',
       'PYTHON, RUBY, GO, AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, C,C++, RUST', 'SQL, GOOGLE CLOUD, DOCKER',
       'PYTHON, JAVASCRIPT , TYPESCRIPT, SQL, GOOGLE CLOUD, DOCKER',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, FLUTTER',
       'JAVASCRIPT , TYPESCRIPT, RUBY, ELIXIR',
       'PHP, JAVASCRIPT , TYPESCRIPT, SQL, GO, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, JAVA , SCALA, SQL, GOOGLE CLOUD',
       'JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, GO, RUST, AWS, KUBERNETES, DOCKER',
       'GOOGLE CLOUD, DOCKER',
       'KOTLIN, JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, DOCKER',
       'JAVA , SCALA, SQL, AWS',
       'JAVASCRIPT , TYPESCRIPT, RUBY, AWS, DOCKER',
       'GO, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, PHP, JAVASCRIPT , TYPESCRIPT, .NET, JAVA , SCALA, AWS, AZURE',
       'PHP, JAVASCRIPT , TYPESCRIPT, AWS, DOCKER', 'AZURE',
       'PHP, JAVA , SCALA, GO, AWS, DOCKER', 'C,C++, SQL, DOCKER',
       'KOTLIN, PHP, SQL', 'PYTHON, C,C++, .NET',
       '.NET, KUBERNETES, DOCKER', 'PYTHON, C,C++, GO, AWS, DOCKER',
       'AWS, GOOGLE CLOUD, KUBERNETES, DOCKER',
       'PYTHON, KOTLIN, JAVASCRIPT , TYPESCRIPT, JAVA , SCALA, SQL, AWS, GOOGLE CLOUD, DOCKER',
       'PYTHON, JAVA , SCALA, R, SQL',
       'PYTHON, C,C++, JAVASCRIPT , TYPESCRIPT, GO',
       'PYTHON, C,C++, DOCKER, TENSORFLOW, PYTORCH',
       'JAVASCRIPT , TYPESCRIPT, R, SQL, GOOGLE CLOUD',
       'PYTHON, R, SQL, AZURE', 'KOTLIN, SQL, KUBERNETES, DOCKER',
       'JAVA , SCALA, SQL, AWS, AZURE',

In [ ]:
df['Other technologies 2'] = np.nan
df['Other technologies 3'] = np.nan
df['Other technologies Extra'] = np.nan

In [ ]:
def split_other_technologies(value):
    """
    Función para dividir las tecnologías en columnas separadas.
    """
    if pd.isna(value):
        return pd.Series([np.nan, np.nan, np.nan, np.nan])

    # Convertir a lista y eliminar espacios innecesarios
    technologies = [tech.strip() for tech in value.split(',')]

    # Retornar los primeros cuatro valores o NaN si faltan tecnologías
    return pd.Series(technologies + [np.nan] * (4 - len(technologies)))[:4]

In [ ]:
df[['Other technologies', 'Other technologies 2', 'Other technologies 3', 'Other technologies Extra']] = df['Other technologies'].apply(split_other_technologies)
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Main technology,Other technologies,...,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR",Other technologies 2,Other technologies 3,Other technologies Extra
0,2020-11-24 11:14:15,26.0,1.0,MUNCHEN,DEVELOPER,5.0,3.0,SENIOR,TYPESCRIPT,KOTLIN,...,Unlimited contract,English,51-100,Product,No,NaN,NaN,JAVASCRIPT,TYPESCRIPT,NaN
1,2020-11-24 11:14:16,26.0,1.0,BERLIN,DEVELOPER,7.0,4.0,SENIOR,RUBY,NaN,...,Unlimited contract,English,101-1000,Product,No,NaN,NaN,NaN,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,BERLIN,DEVELOPER,12.0,6.0,SENIOR,JAVASCRIPT,JAVASCRIPT,...,Temporary contract,English,101-1000,Product,Yes,NaN,NaN,TYPESCRIPT,DOCKER,NaN
3,2020-11-24 11:15:24,28.0,1.0,BERLIN,DEVELOPER,4.0,1.0,JUNIOR,JAVASCRIPT,NaN,...,Unlimited contract,English,51-100,Startup,No,NaN,NaN,NaN,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,BERLIN,DEVELOPER,17.0,6.0,SENIOR,C,.NET,...,Unlimited contract,English,101-1000,Product,No,NaN,NaN,SQL,AWS,DOCKER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,2021-01-18 15:05:50,31.0,1.0,BERLIN,DEVELOPER,9.0,5.0,SENIOR,JAVA,PYTHON,...,Unlimited contract,English,51-100,Product,Yes,NaN,NaN,JAVASCRIPT,TYPESCRIPT,JAVA
1249,2021-01-18 17:46:02,33.0,1.0,BERLIN,OTHERS,10.0,1.5,SENIOR,NOT SPECIFIED,NaN,...,Unlimited contract,English,1000+,Product,No,NaN,0,NaN,NaN,NaN
1250,2021-01-18 23:20:35,39.0,1.0,MUNCHEN,OTHERS,15.0,2.0,SENIOR,PHP,PYTHON,...,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN,C,C++,JAVASCRIPT
1251,2021-01-19 10:17:58,26.0,1.0,SAARBRUCKEN,DEVELOPER,7.0,7.0,MID-LEVEL,JAVASCRIPT,JAVASCRIPT,...,Unlimited contract,German,101-1000,Product,No,NaN,0,TYPESCRIPT,DOCKER,HTML
1252,2021-01-19 12:01:11,26.0,1.0,BERLIN,DEVOPS,2.0,2.0,MID-LEVEL,YAML,PYTHON,...,Unlimited contract,English,51-100,Startup,No,30.0,600,AWS,KUBERNETES,DOCKER

In [ ]:
technology_replace = {
    'ADOBE CLOUD': 'CLOUD',
    'GOOGLE CLOUD': 'CLOUD',
    'NODEJS': 'NODE.JS',
    'PL': 'SQL',
    'C++': 'C',
    'OBJECTIVE C': 'C',
    'OBJECTIVE-C': 'C',
    'MS SQL STACK': 'SQL',
    'LINUX KERNEL': 'LINUX',
    'C#': 'C',
    'SCALA SPARK': 'APACHE SPARK',
    'BI': 'POWER BI',
    'SPARK': 'APACHE SPARK',
}

In [ ]:
def clean_techno(value):
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como está

    if value in ['ETC...', '']:
        return np.nan
    if value in ['C++', 'C#']:
        return 'C'

    # Reemplazar por un diccionario
    value = technology_replace.get(value, value)

    return value

In [ ]:
df['Other technologies'] = df['Other technologies'].apply(clean_techno)
df['Other technologies'].unique()

array(['KOTLIN', nan, 'JAVASCRIPT', '.NET', 'PYTHON', 'SQL', 'PHP', 'GO',
       'SWIFT', 'AWS', 'C', 'JAVA', 'KUBERNETES', 'DOCKER', 'RUBY', 'SAP',
       'R', 'CLOUD', 'ERLANG', 'ELIXIR', 'LINUX', 'MONGODB', 'NODE.JS',
       'PERL', 'AZURE', 'FIGMA', 'CLOJURE', 'POWER BI'], dtype=object)

In [ ]:
df['Other technologies 2'] = df['Other technologies 2'].apply(clean_techno)
df['Other technologies 2'].unique()

array(['JAVASCRIPT', nan, 'TYPESCRIPT', 'SQL', 'AWS', 'KOTLIN', 'C',
       'KUBERNETES', 'JAVA', 'GO', 'R', 'CLOUD', 'SCALA', 'PHP', '.NET',
       'RUBY', 'ELIXIR', 'ABAP', 'DOCKER', 'AZURE', 'SWIFT', 'FLUTTER',
       'SKETCH', 'SQUISH', 'TERRAFORM', 'SAP', 'TENSORFLOW', 'QT', 'RUST',
       'CLOJURE', 'PERL'], dtype=object)

In [ ]:
df['Other technologies 3'] = df['Other technologies 3'].apply(clean_techno)
df['Other technologies 3'].unique()

array(['TYPESCRIPT', nan, 'DOCKER', 'AWS', 'CLOUD', 'JAVASCRIPT', 'C',
       'SQL', 'SCALA', 'JAVA', 'KUBERNETES', 'AZURE', 'RUBY', '.NET',
       'GO', 'SWIFT', 'PHP', 'PERL', 'PYTORCH', '3DS MAX', 'SAP',
       'ANGULAR', 'R', 'CLOJURE', 'APACHE SPARK', 'LINUX', 'ABAP',
       'THEANO', 'HADOOP HIVE', 'PHOTOSHOP', 'SAS'], dtype=object)

In [ ]:
df['Other technologies Extra'] = df['Other technologies Extra'].apply(clean_techno)
df['Other technologies Extra'].unique()

array([nan, 'DOCKER', 'KUBERNETES', 'TYPESCRIPT', 'SQL', 'AWS', 'GO',
       'JAVASCRIPT', 'JAVA', 'SCALA', 'CLOUD', 'AZURE', '.NET', 'R',
       'DART', 'PERL', 'PYTORCH', 'ANSIBLE', 'SWIFT', 'ABAP', 'APEX',
       'SAP', 'C', 'VBA', 'SHELL', 'ASSEMBLY', 'RUBY', 'RUST', 'ELIXIR',
       'APACHE HADOOP', 'VMS', 'TERRAFORM', 'MATLAB', 'ORACLE', 'CLOJURE',
       'HTML'], dtype=object)

# "Yearly brutto salary (without bonus and stocks) in EUR"

In [ ]:
df['Yearly brutto salary (without bonus and stocks) in EUR'].unique()

array([8.000000e+04, 1.200000e+05, 5.400000e+04, 6.200000e+04,
       7.600000e+04, 5.700000e+04, 6.500000e+04, 5.600000e+04,
       9.500000e+04, 5.250000e+04, 1.000000e+05, 9.000000e+04,
       7.000000e+04, 7.500000e+04, 6.035000e+04, 7.800000e+04,
       6.000000e+04, 1.030000e+05, 6.900000e+04, 4.740000e+04,
       6.700000e+04, 8.500000e+04, 4.500000e+04, 6.300000e+04,
       1.500000e+05, 7.200000e+04, 1.050000e+05, 8.800000e+04,
       7.400000e+04, 7.700000e+04, 6.800000e+04, 7.050000e+04,
       7.350000e+04, 8.300000e+04, 1.100000e+05, 9.300000e+04,
       5.500000e+04, 5.300000e+04, 7.020000e+04, 5.000000e+04,
       6.850000e+04, 6.100000e+04, 7.300000e+04, 8.100000e+04,
       5.800000e+04, 7.900000e+04, 4.900000e+04, 4.400000e+04,
       4.800000e+04, 6.600000e+04, 5.100000e+04, 7.750000e+04,
       7.106000e+04, 2.800000e+04, 8.200000e+04, 7.080000e+04,
       8.920000e+04, 1.150000e+05, 1.400000e+05, 4.200000e+04,
       9.600000e+04, 6.400000e+04, 6.150000e+04, 5.520000e+04,
       6.720000e+04, 9.250000e+04, 9.900000e+04, 6.120000e+04,
       3.200000e+04, 1.080000e+05, 3.750000e+04, 3.500000e+04,
       5.200000e+04, 8.400000e+04, 1.236000e+05, 2.640000e+04,
       9.200000e+04, 6.680000e+04, 6.350000e+04, 8.957000e+04,
       1.300000e+05, 4.600000e+04, 5.640000e+04, 8.120000e+04,
       2.000000e+04, 6.540000e+04, 7.100000e+04, 2.700000e+04,
       6.750000e+04, 5.450000e+04, 1.016400e+04, 7.850000e+04,
       1.200000e+04, 2.400000e+04, 9.550000e+04, 7.760000e+04,
       5.040000e+04, 1.300000e+04, 1.471200e+04, 7.440000e+04,
       2.880000e+04, 8.900000e+04, 7.690000e+04, 1.870000e+04,
       2.000000e+05, 3.000000e+04, 2.112000e+04, 4.750000e+04,
       4.560000e+04, 6.630000e+04, 7.930000e+04, 3.400000e+04,
       1.000000e+11, 4.700000e+04, 1.560000e+05, 1.800000e+05,
       5.760000e+04, 6.370000e+04, 1.220000e+05, 4.080000e+04,
       6.920000e+04, 5.900000e+04, 1.600000e+05, 7.650000e+04,
       3.600000e+04, 1.540000e+05, 3.000000e+05, 4.300000e+04,
       3.900000e+04, 8.600000e+04, 4.000000e+04, 9.800000e+04,
       1.020000e+05, 7.860000e+04, 2.500000e+05, 5.880000e+04,
       8.250000e+04, 7.175000e+04, 8.190000e+04, 2.200000e+04,
       3.700000e+04, 1.590000e+05, 5.776000e+04, 2.300000e+04,
       1.350000e+05, 2.900000e+04, 1.100000e+04, 8.700000e+04,
       8.500000e+05, 2.400000e+05, 3.300000e+04, 1.518720e+05,
       5.280000e+04, 5.000000e+08, 8.150000e+04, 9.400000e+04,
       1.000100e+04, 6.747300e+04, 9.100000e+04, 6.650000e+04,
       5.670000e+04, 7.725000e+04, 2.500000e+04, 1.060000e+05,
       4.920000e+04, 2.100000e+04, 2.530000e+04, 8.560000e+04,
       1.720000e+05, 1.440000e+04, 5.417913e+04, 5.775000e+04,
       1.130000e+05, 6.480000e+04, 5.906400e+04, 5.350000e+04,
       6.240000e+04, 6.560000e+04, 5.550000e+04, 3.800000e+04,
       1.240000e+05, 7.370000e+04, 8.755000e+04, 4.070000e+04,
       4.774500e+04, 4.350000e+04, 4.985000e+04, 4.550000e+04,
       1.150000e+04, 1.750000e+04, 7.250000e+04, 6.250000e+04,
       6.590000e+04, 1.111110e+05, 1.070000e+05, 1.632000e+04,
       6.825000e+04, 8.470000e+04, 5.050000e+04, 1.085000e+05,
       3.835000e+04])

In [ ]:
# Convertir a miles de euros para tratar mejor con los valores grandes
df['Yearly brutto salary (without bonus and stocks) in EUR'] = df['Yearly brutto salary (without bonus and stocks) in EUR'] / 1000

In [ ]:
# Renombrar columna para dejar claro que la medida es en miles de euros
df.rename(columns={'Yearly brutto salary (without bonus and stocks) in EUR': 'Yearly brutto salary in thousands EUR'}, inplace=True)
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Main technology,Other technologies,...,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR",Other technologies 2,Other technologies 3,Other technologies Extra
0,2020-11-24 11:14:15,26.0,1.0,MUNCHEN,DEVELOPER,5.0,3.0,SENIOR,TYPESCRIPT,KOTLIN,...,Unlimited contract,English,51-100,Product,No,NaN,NaN,JAVASCRIPT,TYPESCRIPT,NaN
1,2020-11-24 11:14:16,26.0,1.0,BERLIN,DEVELOPER,7.0,4.0,SENIOR,RUBY,NaN,...,Unlimited contract,English,101-1000,Product,No,NaN,NaN,NaN,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,BERLIN,DEVELOPER,12.0,6.0,SENIOR,JAVASCRIPT,JAVASCRIPT,...,Temporary contract,English,101-1000,Product,Yes,NaN,NaN,TYPESCRIPT,DOCKER,NaN
3,2020-11-24 11:15:24,28.0,1.0,BERLIN,DEVELOPER,4.0,1.0,JUNIOR,JAVASCRIPT,NaN,...,Unlimited contract,English,51-100,Startup,No,NaN,NaN,NaN,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,BERLIN,DEVELOPER,17.0,6.0,SENIOR,C,.NET,...,Unlimited contract,English,101-1000,Product,No,NaN,NaN,SQL,AWS,DOCKER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,2021-01-18 15:05:50,31.0,1.0,BERLIN,DEVELOPER,9.0,5.0,SENIOR,JAVA,PYTHON,...,Unlimited contract,English,51-100,Product,Yes,NaN,NaN,JAVASCRIPT,TYPESCRIPT,JAVA
1249,2021-01-18 17:46:02,33.0,1.0,BERLIN,OTHERS,10.0,1.5,SENIOR,NOT SPECIFIED,NaN,...,Unlimited contract,English,1000+,Product,No,NaN,0,NaN,NaN,NaN
1250,2021-01-18 23:20:35,39.0,1.0,MUNCHEN,OTHERS,15.0,2.0,SENIOR,PHP,PYTHON,...,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN,C,C,JAVASCRIPT
1251,2021-01-19 10:17:58,26.0,1.0,SAARBRUCKEN,DEVELOPER,7.0,7.0,MID-LEVEL,JAVASCRIPT,JAVASCRIPT,...,Unlimited contract,German,101-1000,Product,No,NaN,0,TYPESCRIPT,DOCKER,HTML
1252,2021-01-19 12:01:11,26.0,1.0,BERLIN,DEVOPS,2.0,2.0,MID-LEVEL,YAML,PYTHON,...,Unlimited contract,English,51-100,Startup,No,30.0,600,AWS,KUBERNETES,DOCKER

# "Yearly bonus + stocks in EUR"

In [ ]:
df['Yearly bonus + stocks in EUR'].unique()

array(['5000', nan, '120000', '101', '40000', '9400', '2000', '80000',
       '4000', '10000', '1000', '7000', '12000', '1500', '35200', '15000',
       '8000', '72000', '30000', '75000', '73000', '3000', '5800',
       '56000', '6300', '6000', '20000', '62000', '22000', '7500',
       '67000', '7750', '8500', '70000', '17800', '25000', '26000',
       '10300', '6900', '95000', '4700', '18000', '140000', '22500',
       '112000', '7300', '77000', '17000', '32000', '12150', '60000',
       '200000', '3500', '0', '500', '63500', '20240', '81200', '11000',
       '6500', '46000', '400', '122.13', '5600', '4500', '5400', '14500',
       '43500', '50400', '800', '88000', '28800', '65000', '86000',
       '77400', '12', '74000', '19200', '3520', '96000', '47500', '45600',
       '9000', '55000', '11900', 'bvg only', '150000', '13500', '50000',
       '1600', '5500', '45000', '3400', '38500', '2400', '1150000',
       '4300', '85000', '59000', '100000', '63909', '99000', '70500',
       '450000', '20700', '78000', '4250', '89000', '102600', '7100',
       '3375', 'depends', '35000', '6710', '23000', '3600', '97000',
       '1100', '15000+-', '90000', '37968', '4400', '66500', '5000000000',
       '84000', '15900', '21000', '87250', '71000', '106000', '43000',
       '14000', '2500', 'Na', '13000', '60847.32', '3250', '54000',
       '58000', '170000', '82000', '9450', '66447', '53500', '82500',
       '36000', '2800', '107000', '12500', '-', '125000', '80400', '7200',
       '3800', '28000', '31500', '63000', '25', '45500', '92000', '1200',
       '1250', 'Not sure', '16000', '110000', '700', '16320', '105000',
       '40950'], dtype=object)

In [ ]:
def clean_bonus(value):
    """
    Funcion para limpiar la columna "Yearly bonus + stocks in EUR" a numerica
    """
    if pd.isna(value):
        return np.nan
    if value in ['-', 'depends', 'Not sure', 'bvg only', 'Na']:
        return np.nan
    if value == '15000+-':
        return 15000
    try:
        return float(value)  # Intentar convertir a número
    except ValueError:
        return np.nan  # Si no es posible, devolver NaN

In [ ]:
# Limpiar columna "Yearly bonus + stocks in EUR"
df['Yearly bonus + stocks in EUR'] = df['Yearly bonus + stocks in EUR'].apply(clean_bonus)

In [ ]:
# Dividir la columna "Yearly bonus + stocks in EUR" entre 1000 para tratar mejor con los valores grandes
df['Yearly bonus + stocks in EUR'] = df['Yearly bonus + stocks in EUR'] / 1000

In [ ]:
# Renombrar columna para dejar claro que la medida es en miles de euros
df.rename(columns={'Yearly bonus + stocks in EUR': 'Yearly bonus + stocks in thousands EUR'}, inplace=True)
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Main technology,Other technologies,...,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR",Other technologies 2,Other technologies 3,Other technologies Extra
0,2020-11-24 11:14:15,26.0,1.0,MUNCHEN,DEVELOPER,5.0,3.0,SENIOR,TYPESCRIPT,KOTLIN,...,Unlimited contract,English,51-100,Product,No,NaN,NaN,JAVASCRIPT,TYPESCRIPT,NaN
1,2020-11-24 11:14:16,26.0,1.0,BERLIN,DEVELOPER,7.0,4.0,SENIOR,RUBY,NaN,...,Unlimited contract,English,101-1000,Product,No,NaN,NaN,NaN,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,BERLIN,DEVELOPER,12.0,6.0,SENIOR,JAVASCRIPT,JAVASCRIPT,...,Temporary contract,English,101-1000,Product,Yes,NaN,NaN,TYPESCRIPT,DOCKER,NaN
3,2020-11-24 11:15:24,28.0,1.0,BERLIN,DEVELOPER,4.0,1.0,JUNIOR,JAVASCRIPT,NaN,...,Unlimited contract,English,51-100,Startup,No,NaN,NaN,NaN,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,BERLIN,DEVELOPER,17.0,6.0,SENIOR,C,.NET,...,Unlimited contract,English,101-1000,Product,No,NaN,NaN,SQL,AWS,DOCKER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,2021-01-18 15:05:50,31.0,1.0,BERLIN,DEVELOPER,9.0,5.0,SENIOR,JAVA,PYTHON,...,Unlimited contract,English,51-100,Product,Yes,NaN,NaN,JAVASCRIPT,TYPESCRIPT,JAVA
1249,2021-01-18 17:46:02,33.0,1.0,BERLIN,OTHERS,10.0,1.5,SENIOR,NOT SPECIFIED,NaN,...,Unlimited contract,English,1000+,Product,No,NaN,0,NaN,NaN,NaN
1250,2021-01-18 23:20:35,39.0,1.0,MUNCHEN,OTHERS,15.0,2.0,SENIOR,PHP,PYTHON,...,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN,C,C,JAVASCRIPT
1251,2021-01-19 10:17:58,26.0,1.0,SAARBRUCKEN,DEVELOPER,7.0,7.0,MID-LEVEL,JAVASCRIPT,JAVASCRIPT,...,Unlimited contract,German,101-1000,Product,No,NaN,0,TYPESCRIPT,DOCKER,HTML
1252,2021-01-19 12:01:11,26.0,1.0,BERLIN,DEVOPS,2.0,2.0,MID-LEVEL,YAML,PYTHON,...,Unlimited contract,English,51-100,Startup,No,30.0,600,AWS,KUBERNETES,DOCKER

# "Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country"

In [ ]:
df['Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country'].unique()

array([7.5000e+04, 8.2000e+04, 1.0000e+05,        nan, 6.2000e+04,
       7.6000e+04, 6.5000e+04, 5.5000e+04, 9.0000e+04, 5.2500e+04,
       8.0000e+04, 6.6000e+04, 5.8000e+04, 9.2000e+04, 6.9000e+04,
       6.3000e+04, 4.4000e+04, 7.8000e+04, 8.1000e+04, 3.7000e+04,
       7.2000e+04, 9.6000e+04, 5.4000e+04, 5.2000e+04, 6.0000e+04,
       6.8000e+04, 5.0000e+04, 5.6000e+04, 7.0000e+04, 8.5000e+04,
       9.3000e+04, 4.2000e+04, 5.3000e+04, 7.9000e+04, 6.2400e+04,
       7.3000e+04, 4.5000e+04, 6.1000e+04, 7.2500e+04, 7.7000e+04,
       1.1000e+05, 3.6000e+04, 6.7000e+04, 6.8500e+04, 6.7500e+04,
       5.7000e+04, 1.1500e+05, 8.8000e+04, 1.3200e+05, 1.0500e+05,
       5.7600e+04, 5.6500e+04, 4.8000e+04, 4.7000e+04, 9.7000e+04,
       9.8000e+04, 5.3300e+04, 2.1800e+04, 1.0800e+05, 7.4000e+04,
       8.0600e+04, 1.2000e+05, 6.4000e+04, 8.2240e+04, 4.3000e+04,
       5.6400e+04, 1.7000e+04, 4.6000e+04, 4.3200e+04, 5.9000e+04,
       5.4500e+04, 7.8500e+04, 6.1500e+04, 7.0400e+04, 2.0000e+04,
       9.4000e+04, 1.2500e+05, 1.4712e+04, 2.8800e+04, 2.7000e+04,
       8.9000e+04, 2.6000e+04, 4.0000e+04, 8.6000e+04, 1.6000e+04,
       1.6560e+04, 6.1400e+04, 4.1000e+04, 3.9000e+04, 1.8000e+04,
       3.0000e+04, 8.4000e+04, 1.5600e+05, 6.9300e+04, 1.3000e+05,
       1.0400e+05, 1.1800e+05, 6.7100e+04, 1.6000e+05, 3.5000e+04,
       2.8000e+04, 3.1000e+04, 6.1200e+04, 5.0400e+04, 7.3500e+04,
       7.8600e+04, 2.3000e+05, 7.6000e+05, 8.2600e+04, 1.2000e+04,
       9.5000e+04, 7.1000e+04, 1.1000e+04, 3.2000e+04, 2.3000e+04,
       3.3000e+04, 1.9000e+05, 4.7500e+04, 5.0000e+08, 3.8000e+04,
       6.3500e+04, 9.1000e+04, 1.0200e+05, 8.3200e+04, 2.5000e+04,
       4.5600e+04, 4.4500e+04, 1.9000e+04, 2.5300e+04, 1.6900e+05,
       5.8040e+04, 2.0000e+05, 1.4000e+05, 8.7000e+04, 5.8800e+04,
       5.1000e+04, 6.2500e+04, 4.7745e+04, 3.4000e+04, 1.5000e+04,
       9.9000e+04, 3.7500e+04, 5.9500e+04, 7.0200e+04, 5.1200e+04,
       8.3000e+04, 4.9000e+04, 3.3800e+04])

In [ ]:
# Dividir la columna por 100 para tratar mejor con los valores grandes
df['Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country'] = df['Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country'] / 1000

In [ ]:
# Renombrar columna para dejar claro que es en miles de euros
df.rename(columns={'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country':'Annual brutto salary in thousands EUR'}, inplace = True)

# "Annual bonus+stocks one year ago. Only answer if staying in same country"

In [ ]:
df['Annual bonus+stocks one year ago. Only answer if staying in same country'].unique()

array(['10000', '5000', '100000', nan, '13000', '2000', '500', '75000',
       '7000', '1000', '4000', '3500', '20000', '54000', '15000', '85000',
       '60000', '11000', '2500', '63000', '122000', '50000', '8000',
       '101', '30000', '300', '33000', '6000', '1500', '3000', '65000',
       '6800', '58000', '70000', '8500', '61000', '25000', '77000',
       '5400', '6300', '49000', '68000', '6200', '17000', '52000',
       '200000', '0', '850', '18000', '55000', '1800', '57000', '46000',
       '48000', '45000', '7500', '18800', '67000', '78000', '28800',
       '56000', '74800', '40000', '115000', '16300', '2760', '82000',
       '39000', '100', '4800', '80000', 'learning budget, bvg, gym, food',
       '12000', '92000', '120000', '64000', '5500', '600', '98000',
       '31000', '67200', '59000', '50400', '89000', '800', '300000',
       '2004', '87000', '9000', '84000', '22000', '76000', '6900',
       '66000', '23000', '75009', '35000', '2600', '3900', '50000000',
       '8100', '86000', '72000', '700', '47000', '41000', '14000',
       '42000', '90000', '7050', '55200', '9500', '62000', '36000',
       '28500', '73000', '12500', '-', '94000', '53000', '3800', '22500',
       '31500', '34000', '3300', '37500', '1100', '7200', '180000',
       '16000', '105000', '36400'], dtype=object)

In [ ]:
def clean_bonus_stocks(value):
    """
    Funcion para limpiar la columna "Annual bonus+stocks one year ago. Only answer if staying in same country"
    y convertirlaa numerica
    """
    if pd.isna(value):
        return np.nan
    if value in ['-', 'learning budget, bvg, gym, food']:
        return np.nan
    try:
        return float(value)  # Intentar convertir a número
    except ValueError:
        return np.nan  # Si no es posible, devolver NaN

In [ ]:
# Limpiar y convertir datos de la columna "Annual bonus+stocks one year ago. Only answer if staying in same country" a numerica
df['Annual bonus+stocks one year ago. Only answer if staying in same country'] = df['Annual bonus+stocks one year ago. Only answer if staying in same country'].apply(clean_bonus_stocks)

In [ ]:
# Dividir entre 1000 para tratar mejor con los valores grandes
df['Annual bonus+stocks one year ago. Only answer if staying in same country'] = df['Annual bonus+stocks one year ago. Only answer if staying in same country'] / 1000

In [ ]:
# Renombrar columna para dejar claro que es en miles de euros
df.rename(columns={'Annual bonus+stocks one year ago. Only answer if staying in same country': 'Annual bonus+stocks in thousands EUR'}, inplace = True)

# "Number of vacation days"

In [ ]:
df['Number of vacation days'].unique()

array(['30', '28', '24', '29', '27', nan, '25', '31', '26', '60', '20',
       '22', '38', '35', '32', '40', '365', '36', '23', '33', '21',
       'unlimited', '14', 'unlimited ', '(no idea)',
       '30 in contract (but theoretically unlimited)', '0', 'Unlimited ',
       '15', '16', '3', '45', '~25', '12', '50', '23+', '99', 'Unlimited',
       '24 labour days', '37.5', '1', '5', '37', '39', '34', '10'],
      dtype=object)

In [ ]:
def clean_vacation_days(value):
    """
    Función para limpiar la columna "Number of vacation days"
    y convertirla a numérica
    """
    if pd.isna(value):
        return np.nan

    # Eliminar caracteres no deseados y convertir a número
    if isinstance(value, str):
        value = value.strip()  # Eliminar espacios en blanco iniciales y finales
        value = value.lower() # Convertir a minusculas
        if value in ['unlimited']:
            return np.nan
        elif value == '(no idea)':
            return np.nan
        elif value == '30 in contract (but theoretically unlimited)':
            return 30
        elif value == '24 labour days':
            return 24
        elif value == '~25':
            return 25
        elif value == '23+':
            return 23
        else:
            # Intentar convertir a número si es posible
            try:
                return float(value)
            except ValueError:
                return np.nan
    else:
        return np.nan

In [ ]:
df['Number of vacation days'] = df['Number of vacation days'].apply(clean_vacation_days)

# "Employment status"

In [ ]:
df['Employment status'].unique()

array(['Full-time employee', 'Self-employed (freelancer)',
       'Company Director', nan, 'Founder', 'Part-time employee',
       'working student', 'Working Student',
       'Full-time position, part-time position, & self-employed (freelancing, tutoring)',
       'Intern',
       "full-time, but 32 hours per week (it was my request, I'm a student)",
       'Werkstudent'], dtype=object)

In [ ]:
replace_dict = {
    'Full-time employee': 'Full-time',
    'Self-employed (freelancer)': 'Self-employed',
    'Part-time employee': 'Part-time',
    'full-time, but 32 hours per week (it was my request, I\'m a student)': 'Full-time',
    'Werkstudent': 'working student',
    'Full-time position, part-time position, & self-employed (freelancing, tutoring)': 'Full-time',
}

In [ ]:
df['Employment status'] = df['Employment status'].replace(replace_dict)

In [ ]:
df['Employment status'] = df['Employment status'].str.upper()

# "Сontract duration"

In [ ]:
df['Сontract duration'].unique()

array(['Unlimited contract', 'Temporary contract', nan, '0'], dtype=object)

In [ ]:
def clean_contract_duration(value):
    """
    Función para limpiar la columna "Сontract duration"
    Cambia '0' por NaN y convierte los valores a mayúsculas.
    """
    if value == '0':
        return np.nan
    if isinstance(value, str):
        return value.upper()  # Convertir a mayúsculas
    return value  # Dejar NaN sin cambios

In [ ]:
df['Сontract duration'] = df['Сontract duration'].apply(clean_contract_duration)

# "Main language at work"

In [ ]:
df['Main language at work'].unique()

array(['English', 'German', nan, 'English and German', 'Russian',
       'Polish', '50/50', 'Русский', 'Czech', 'Italian', 'Deuglisch',
       'French', 'both', 'Spanish', 'Russian, English'], dtype=object)

In [ ]:
def clean_language(value):
    """
    Funcion para limpiar la columna "Main language at work"
    """
    if pd.isna(value):
        return np.nan

    value = value.strip()  # Eliminar espacios en blancos iniciales y finales
    value = value.upper()  # Convertir a mayusculas

    if value in ['50/50', 'BOTH']:
        return np.nan
    if value == 'РУССКИЙ':
        return 'RUSSIAN'
    if value == 'RUSSIAN, ENGLISH':
        return 'RUSSIAN'
    if value == 'ENGLISH AND GERMAN':
        return 'ENGLISH'

    return value

In [ ]:
df['Main language at work'] = df['Main language at work'].apply(clean_language)

# "Company Size"

In [ ]:
df['Company size'].unique()

array(['51-100', '101-1000', '11-50', '1000+', nan, 'up to 10'],
      dtype=object)

In [ ]:
replace_dict = {
    'up to 10': '0-10'
}

In [ ]:
df['Company size'] = df['Company size'].replace(replace_dict)

# "Company type"

In [ ]:
df['Company type'].unique()

array(['Product', 'Startup', 'Consulting / Agency', nan, 'Media',
       'Personal Ltd', 'Cloud', 'Behörde', 'Construction',
       'Big commercial', 'Outsorce', 'Bank ', 'Fintech', 'Automotive',
       'Bank', 'IT Department of established business',
       'Telecommunications', 'E-commerce', 'Systemhaus', 'University',
       'consumer goods', 'IT-Outsourcing', 'Game Company', 'Financial ',
       'Corporation', 'Publishing and Technology', 'Market Research ',
       'e-commerce', 'SaaS', 'Publisher', 'Energy ', 'Enterprise',
       'Bloody enterprise', 'service', 'Concern', 'Utilities',
       'Insurance', 'Science Institute ', 'Research institute', 'Retail',
       'Ecommerce', 'E-Commerce', 'Semiconductor', 'Automotive ',
       'Institute', 'Finance', 'Handel ', 'Consulting and Product',
       'Education', 'Pharma',
       'Full-time position in Education, part-time position in at a data startup',
       'Corporation ', 'Transport & Logistics', 'Biergarten ',
       'Non-tech retail', 'Research', 'corporate incubator',
       'Multinational ', 'Industry', 'FAANG', 'Old industry', 'Outsourse',
       'freelance', 'eCommerce'], dtype=object)

In [ ]:
technology_replacing = {
    'behörde': 'BEHORDE',
    'transport & logistics': 'TRANSPORT',
    'corporate incubator': 'INCUBATOR',
    'full-time position in education, part-time position in at a data startup': 'EDUCATION',
    'it department of established business': 'IT',
    'it-outsourcing': 'IT',
    'consulting / agency': 'CONSULTING',
    'science institute ': 'INSTITUTE',
    'research institute': 'INSTITUTE',
    'publishing and technology': 'PUBLISHER',
    'non-tech retail': 'NON-TECH',
    'e-commerce ': 'ECOMMERCE',
    'consulting and product': 'CONSULTING',
    'big commercial': 'COMMERCIAL',
    'Game Company': 'GAME',
    'market research ': 'MARKET',
}

In [ ]:
def clean_company_type(value):
    if pd.isna(value):
        return value  # Si es NaN, lo dejamos como está

    value = value.lower()
    # Reemplazar por un diccionario
    value = technology_replacing.get(value, value)
    value = value.strip()
    value = value.upper()
    if value == 'E-COMMERCE':
        return 'ECOMMERCE'

    return value

In [ ]:
df['Company type'] = df['Company type'].apply(clean_company_type)
df['Company type'].unique()

array(['PRODUCT', 'STARTUP', 'CONSULTING', nan, 'MEDIA', 'PERSONAL LTD',
       'CLOUD', 'BEHORDE', 'CONSTRUCTION', 'COMMERCIAL', 'OUTSORCE',
       'BANK', 'FINTECH', 'AUTOMOTIVE', 'IT', 'TELECOMMUNICATIONS',
       'ECOMMERCE', 'SYSTEMHAUS', 'UNIVERSITY', 'CONSUMER GOODS',
       'GAME COMPANY', 'FINANCIAL', 'CORPORATION', 'PUBLISHER', 'MARKET',
       'SAAS', 'ENERGY', 'ENTERPRISE', 'BLOODY ENTERPRISE', 'SERVICE',
       'CONCERN', 'UTILITIES', 'INSURANCE', 'INSTITUTE', 'RETAIL',
       'SEMICONDUCTOR', 'FINANCE', 'HANDEL', 'EDUCATION', 'PHARMA',
       'TRANSPORT', 'BIERGARTEN', 'NON-TECH', 'RESEARCH', 'INCUBATOR',
       'MULTINATIONAL', 'INDUSTRY', 'FAANG', 'OLD INDUSTRY', 'OUTSOURSE',
       'FREELANCE'], dtype=object)

# "Have you lost your job due to the coronavirus outbreak?"

In [ ]:
df['Have you lost your job due to the coronavirus outbreak?'].unique()

array(['No', 'Yes',
       "i didn't but will be looking for new one because of covid", nan,
       'kurzarbeitzeit for 1.5 months',
       'Have been a freelancer at the beginning of year',
       'No, but there was a salary cut at 10% for 3 months and then at 5% for further 3 months',
       'Lost the job but for different reason',
       'Leads and project inquiries have slowed down',
       'Laid off for a bit',
       'yes but found a new one with better pay / perks'], dtype=object)

In [ ]:
repacle_dict = {
    "i didn't but will be looking for new one because of covid": "yes",
    "kurzarbeitzeit for 1.5 months": "no",
    "Have been a freelancer at the beginning of year": "no",
    "No, but there was a salary cut at 10% for 3 months and then at 5% for further 3 months": "no",
    "Lost the job but for different reason": "no",
    "Leads and project inquiries have slowed down": "no",
    "Laid off for a bit": "yes",
    "yes but found a new one with better pay / perks": "yes",
}

In [ ]:
df[ 'Have you lost your job due to the coronavirus outbreak?' ] = df[ 'Have you lost your job due to the coronavirus outbreak?' ].replace( repacle_dict )
df[ 'Have you lost your job due to the coronavirus outbreak?' ] = df[ 'Have you lost your job due to the coronavirus outbreak?' ].str.upper()

In [ ]:
df['Have you lost your job due to the coronavirus outbreak?'].unique()

array(['NO', 'YES', nan], dtype=object)

In [ ]:
df.rename(columns={'Have you lost your job due to the coronavirus outbreak?':'lost job due covid'}, inplace = True)

# "Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week"

In [ ]:
df['Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week'].unique()

array([ nan,  0. , 30. , 32. , 24. , 20. , 40. , 10. , 34. , 38. , 35. ,
       36. , 28. , 39. , 37.5,  8. , 15. , 25. , 26. ,  2. ,  4. ,  5. ,
       16. , 12. ])

In [ ]:
df.rename(columns={'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week': 'hours worked per week'}, inplace = True)

# "Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"

In [ ]:
df['Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'].unique()

array([nan, '600', '1000', '200', '1100', '1', '5000', '500', '2000',
       '8000', '300', '900', '1600', '1500', '850', '100', '50', '250',
       '400', '675', 'No', '0', '40', '10000', '750', 'no', '180€', '180',
       '700', '1200', '1300', '1750', '580', '400 / month', '350', '550',
       'yes', '440', '75% from government ', '40 every month', '1700',
       '200 Amazon voucher', '460', '160', '800', '540', '240', '1250.29',
       '340', '1800', '-', '150', '80', '600 nett', '20%',
       'I was able to move all equipment I need to work to home', '140',
       '650', '0,00', '1670'], dtype=object)

In [ ]:
def clean_value(value):
    if isinstance(value, str):
        # Eliminar texto no numérico irrelevante y símbolos no deseados
        value = value.lower()  # Convertir todo a minúsculas para evitar duplicados como 'No' y 'no'

        # Filtrar valores claramente irrelevantes
        if any(keyword in value for keyword in ['no', 'yes', '-', 'voucher', 'equipment']):
            return np.nan

        # Remover símbolos de moneda como €, eliminar comas y espacios extra
        value = re.sub(r'[€,\s]', '', value)

        # Manejo de porcentajes, puedes decidir si lo conviertes o lo eliminamos
        if '%' in value:
            return np.nan

        # Remover texto no deseado que acompaña a números (como "per month" o similar)
        value = re.sub(r'[a-zA-Z]', '', value)

        # Intentar convertir a número
        try:
            return float(value)
        except ValueError:
            return np.nan
    return value

In [ ]:
df['Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'] = df['Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'].apply(clean_value)
df['Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'] = df['Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'].astype(float)

In [ ]:
df.rename(columns={'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR':'additional monetary support'}, inplace = True)

In [ ]:
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Main technology,Other technologies,...,Сontract duration,Main language at work,Company size,Company type,lost job due covid,hours worked per week,additional monetary support,Other technologies 2,Other technologies 3,Other technologies Extra
0,2020-11-24 11:14:15,26.0,1.0,MUNCHEN,DEVELOPER,5.0,3.0,SENIOR,TYPESCRIPT,KOTLIN,...,UNLIMITED CONTRACT,ENGLISH,51-100,PRODUCT,NO,NaN,NaN,JAVASCRIPT,TYPESCRIPT,NaN
1,2020-11-24 11:14:16,26.0,1.0,BERLIN,DEVELOPER,7.0,4.0,SENIOR,RUBY,NaN,...,UNLIMITED CONTRACT,ENGLISH,101-1000,PRODUCT,NO,NaN,NaN,NaN,NaN,NaN
2,2020-11-24 11:14:21,29.0,1.0,BERLIN,DEVELOPER,12.0,6.0,SENIOR,JAVASCRIPT,JAVASCRIPT,...,TEMPORARY CONTRACT,ENGLISH,101-1000,PRODUCT,YES,NaN,NaN,TYPESCRIPT,DOCKER,NaN
3,2020-11-24 11:15:24,28.0,1.0,BERLIN,DEVELOPER,4.0,1.0,JUNIOR,JAVASCRIPT,NaN,...,UNLIMITED CONTRACT,ENGLISH,51-100,STARTUP,NO,NaN,NaN,NaN,NaN,NaN
4,2020-11-24 11:15:46,37.0,1.0,BERLIN,DEVELOPER,17.0,6.0,SENIOR,C,.NET,...,UNLIMITED CONTRACT,ENGLISH,101-1000,PRODUCT,NO,NaN,NaN,SQL,AWS,DOCKER

# Documentación - Bitacora de cambios

<img src="image-20241001-213118.png" width="" align="" />

<img src="image-20241002-205227.png" width="" align="" />

<img src="image-20241001-213213.png" width="" align="" />

<img src="image-20241003-114123.png" width="" align="" />

In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [ ]:
df.to_excel('salary_survey.xlsx', index=True)